@{
    ViewBag.Title = "Despre noi";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<br />

<div class="row">
    <p></p>
    Daca esti in cautare de sfaturi de calatorie in Banat, ai ajuns unde trebuie! Pe pagina noastra Turist in Banat o sa gasesti informatii despre principalele destinatii turistice, tipuri de activitati, evenimente culturale, dar si despre posibile locuri de cazare, relaxare si shopping.
    </p><p>
            <strong> Misiunea noastra</strong>
    </p><p>
        Sa promovam turismul din Banat.
    </p><p>
        Societatea in care traim, cauta mereu locuri noi in care sa fuga si sa scape de aglomeratia din oras.       Iar prin site-ul nostru tot ceea ce ne dorim este sa ajutam la promovarea acestei zone minunate din Romania, prin prezentarea principalelor destinatii turistice.
    </p><p>
        Am creat si un Chat Room, pe pagina noastra, pentru ca si userul sa aiba posibilitatea de a impartasii cu noi propriile sale experiente si de ce nu pentru a afla de alte locuri minunate pe care sa le adaugam listei noastre.
    </p><p>

            <strong>
                "Intr-o lume minunata, plina de frumusete, farmec si aventura, nu exista sfarsit pentru aventurile pe care le putem avea daca le cautam cu ochii deschisi."
                (Jawaharial Nehru)
            </strong>
    </p>
</div>
