
@{
    ViewBag.Title = "Atractii sezoniere";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Atractii sezoniere</h2>
<h4>@ViewBag.Message</h4>

<br />

<!--Primavara-->
<div class="row">
    <div class="panel panel-body" style="background: lightgreen; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Semeringul banatean</h2>
            <h4>Oravita - Anina, Caras-Severin</h4>
            <br />
            <p>
                Linia ferata Oravita-Anina este a cincea cale ferata de pe teritoriul Romaniei, respectiv prima cale ferata montana si multi vor fi de acord, poate si cea mai frumoasa. Construita in timpul Imperiului Austriac, reprezinta un monument cultural unic in Romania precum si o realizare tehnica deosebita. A primit supranumele de 'Semmeringul banatean' fiind construita doar cativa ani dupa faimoasa cale ferata 'Semmering' din Austria. Intr-una din poze putand fi vazut momentul inaugurarii caii ferate Oravita-Anina, in anul 1869.
            </p><p>
                In privinta construirii liniei ferate Oravita-Anina au fost mai multe proiecte, dar abia din anul 1855 cand a fost preluata calea ferata din Oravita de catre StEG s-a conturat constructia caii ferate Oravita-Anina. Pentru traseul Oravita-Anina, proiectul din 1847 al inginerului Anton Rappos prevedea o linie normala in tractiune cu aburi pana la Lisava, pana unde carbunele ar fi trebuit adus de la Anina printr-o foarte lunga galerie subterana numita „Regele Stefan” in tractiune cabalina.
                Dupa 1852, odata cu cresterea performantei tractiunii cu aburi, proiectul Rappos a fost radical modificat, renuntandu-se la ideea galeriilor subterane. Lucrarile au continuat pana in 1854 la finalizarea unor planuri inclinate funiculare pe portiunea mai abrupta Lisava-Anina.
                Segmentul Oravita-Lisava a fost construit de inginerul Bach, iar conducerea in continuare a lucrarilor a avut-o inspectorul si inginerul Dülling. Intre 1860 – 1863, se finalizeaza constructia noului traseu de cale ferata normala cu tractiune cu aburi pe segmentul Oravita–Anina, punctul de maxima altitudine al liniei fiind atins in tunelul Garliste, cel mai lung de pe traseu.
            </p><p>
                Societatea Privilegiata a Cailor Ferate de Stat Austriece exploateaza linia din anul 1863 pana in 1891 cand va fi nationalizata si va fi trecuta in exploatarea MAV, conform conditiilor initiale puse in actul de concesiune. In anul 1918 conform dispozitiei Tratatului de la Trianon, calea ferata Oravita – Anina trece in proprietatea statului roman fiind exploatata pana azi de Administratia CFR.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Oravita">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/semering-banatean.jpg" data-lightbox="semering-banatean"><img src="~/Content/Images/semering-banatean.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/inaugurare-oravita-anina.png" data-lightbox="inaugurare-oravita-anina"><img src="~/Content/Images/inaugurare-oravita-anina.png" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>




<hr />
<!--Vara-->

<div class="row">
    <div class="panel panel-body" style="background:blanchedalmond; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Valiug</h2>
            <h4>Muntele Semenic, Caras-Severin</h4>
            <br />
            <p>
                La poalele Muntilor Semenic, la o altitudine de 535 m, se afla o regiune minunata in centrul careia se gaseste statiunea Valiug. Aceasta s-a format in valea larga a Barzavei, fiind inconjurata de dealuri cu paduri de brazi si de molizi. Se intinde de-a lungul raului Barzava incepand de la asezarile din Crainicel pana la zona finala a partii numite Hartu, la locurile unde se bifurca drumurile la dreapta spre barajul Gozna si la stanga spre Garana.
                Crivaia face parte din zona Muntilor Semenic alcatuita de triunghiul format de lacurile de acumulare Trei Ape, Gozna si Secu, care impreuna cu statiunea Semenic atrage turisti atat iarna, cat si vara. Vara padurile si lacurile sunt atractiile, iar iarna partiile de pe Semenic si cea din statiunea Crivaia.
            </p><p>
                Semenicul este mandria muntilor din Banat si zona preferata de vacanta a banatenilor. Intr-o regiune pitoreasca admirabila, la o departare de aproximativ 25 km spre SE de Resita, se afla linistita statiune climaterica Valiug.
                Cele doua lacuri de acumulare Breazova (Valiug) si Gozna de la poalele Semenicului, precum si imprejurimile acestora formeaza una dintre cele mai frumoase zone turistice ale judetului Caras-Severin si ale tarii noastre, impresionanta prin caracteristicile reliefului montan si vegetatia bogata. In amonte de satul Valiug s-a construit intre anii 1947 si 1953 lacul Gozna, lung de peste 3 km, ocupand o suprafata de 60 ha, cu o capacitate de 10 milioane mc de apa, cel care a avut o contributie considerabila la dezvoltarea turismului de aici.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Lacul+Gozna">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/valiug.jpg" data-lightbox="valiug"><img src="~/Content/Images/valiug.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/valiug2.jpg" data-lightbox="valiug2"><img src="~/Content/Images/valiug2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-body" style="background:blanchedalmond; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Lacul Surduc</h2>
            <h4>Fardea, Timis</h4>
            <br />
            <p>
                Aflat pe raza comunei Fardea, barajul care a determinat formarea lacului Surduc a inceput sa fie ridicat in anul 1972. Acumularea Surduc a atins in anul 1977 aproape 25 milioane metri cubi de apa, ea fiind insa proiectata pentru acumularea unui volum de apa de 51 milioane metri cubi. Lacul Surduc are ca scop principal asigurarea cu apa potabila a zonei Timisoara, apararea impotriva inundatiilor si, bineinteles, are si un scop turistic, fiind un loc unde iubitorii de pescuit si de agrement se pot bucura in voie.
            </p><p>
                Cu o suprafata de 460 de hectare, lacul Surduc este cel mai mare lac din judetul Timis. Apa lacului nu ingheata, ceea ce creeaza conditiile necesare pentru supravietuirea pe timp de iarna a mii de pasari acvatice.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Lacul+Surduc">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            @*<div style="padding: 7px">
                    <img src="~/Content/Images/surduc1.jpg" class="img-thumbnail" />
                </div>*@
            <div style="padding: 7px">
                <a href="~/Content/Images/surduc2.jpg" data-lightbox="surduc2"><img src="~/Content/Images/surduc2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>


<hr />
<!--Toamna-->


<div class="row">
    <div class="panel panel-body" style="background:peachpuff; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Baile Herculane</h2>
            <h4>Caras-Severin</h4>
            <br />
            <p>
                Statiunea este situata in partea de sud-vest a Romaniei, la o altitudine de 168 m, la 8 km distanta de granita cu judetul Mehedinti si doar la 25 de km de frontiera cu Serbia.
                Statiune milenara mentionata sub denumirea in limba latina: „AD AQUAS HERCULIS SACRAS AD MEDIAM”.
            </p><p>
                Factori naturali: climat de depresiune intramontana, cu influente submediteraneene, sedativ-indiferent; ape minerale izotermale si hipertermale (38-60 °C), slab radioactive, hipotone, cu diferite compozitii chimice:
                    <ul>
                        <li>sulfuroase, clorurate, calcice, sodice;</li>
                        <li>clorurate, sodice, calcice;</li>
                        <li>oligominerale.</li>
                    </ul>
            </p><p>
                Posibilitati de tratament: aerohelioterapie, bai termale, in bazin descoperit, bai termale sulfuroase si sarate, in vane si bazine acoperite; buvete pentru cura interna cu ape minerale, instalatii de hidrotermoterapie (si sauna), electroterapie, kinetoterapie, hidrokinetoterapie, in bazine; inhaloterapie; cura de teren. Din statiune se pot face excursii la ruinele Bailor Imperiale Romane, Grota Haiducilor (Pestera Hotilor), Grota cu aburi, Crucea Alba, si altele.
                Originea Bailor Herculane se intinde pe o durata de aproape doua milenii. Bazele statiunii au fost puse in anul 102 d.Hr. de imparatul Traian, romanii introducand cultul balnear preluat de la greci pe care apoi l-au dezvoltat. Numele statiunii de care este legat si numele societatii noastre, vine de la zeul Hercules, fiul lui Zeus si al frumoasei Alcmena, consemnat in mitologia romana ca patron al izvoarelor termale, simbol al puterii si al echilibrului intre forta fizica si cea spirituala.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Baile+Herculane">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/herculane1.jpg" data-lightbox="herculane1"><img src="~/Content/Images/herculane1.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/herculane2.jpg" data-lightbox="herculane2"><img src="~/Content/Images/herculane2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>


<hr />
<!--Iarna-->


<div class="row">
    <div class="panel panel-body" style="background:aliceblue; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Muntele Mic</h2>
            <h4>Caras-Severin</h4>
            <br />
            <p>
                Muntele Mic este locul unde cei mai multi dintre banateni isi petrec vacantele de iarna. Si asta nu se intampla de putin timp, ci de aproape 90 de ani.
            </p><p>
                inceputurile turismului pe Muntele Mic dateaza de prin anii 1930, perioada in care au ajuns aici primele grupuri organizate.
                Istoricul Mircea Rusnac a studiat subiectul si a publicat un documentar despre inceputurile tuirismului in statiunea banateana.
            </p><p>
                “La fel ca si in cazul altor statiuni montane banatene, precum Semenic sau Poiana Marului, si turismul din superba zona a Muntelui Mic a inceput intr-o forma organizata tot in anii 1930, ani de mare avant economic.
                in acea vreme, distanta de 13 kilometri dintre Caransebes si Borlova era deja strabatuta cu autovehicule precum masini si autobuze. De la Borlova, accesul pe munte se facea pe o poteca bine marcata in lungime de 12 km, care putea fi strabatuta in trei ore si jumatate atat pe jos, cat si calare pe cai voinici de munte.
                in 1935-1936 era deja in lucru un drum pentru automobile pana la statiunea de pe munte”, spune Mircea Rusnac.

            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Muntele+Mic">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/muntele-mic.jpg" data-lightbox="muntele-mic"><img src="~/Content/Images/muntele-mic.jpg" class="img-thumbnail" /></a>
            </div>
            @*<div style="padding: 7px">
                    <img src="~/Content/Images/Timisoara02.jpg" class="img-thumbnail" />
                </div>*@
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-body" style="background:aliceblue; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Muntele Semenic</h2>
            <h4>Caras-Severin</h4>
            <br />
            <p>
                Statiunea turistica Semenic este situata in judetul Caras-Severin, in Muntii Semenic.
                Muntii Semenic reprezinta cea mai importanta subunitate a Muntilor Banatului, nu degeaba intreaga zona poarta numele de Banatul Montan.
                Muntii Semenic fac parte din grupa sudica a Carpatilor Occidentali, culminand cu Varful Piatra Goznei (1447 metri) si Varful Semenic (1445 metri).
            </p><p>
                Partiile de schi din Muntii Semenic se gasesc la 40 km de Resita, la o altitudine de 1400 de metri, si ofera servicii turistice precum centre de inchiriat echipament sportiv, cursuri de initiere la schi,
                snowmobile, nordic walking, cicloturism, enduroturism, drumetiile. Complexul turistic cu spatii de cazare, restaurante si baruri se gaseste la peste 1400 m altitudine, intre virfurile Piatra Goznei si Semenic.
            </p><p>
                Clima este blanda si usor suportabila, chiar si pentru copii. In timpul iernii temperaturile se situeaza intre -25 grade Celsius pana la +6 grade Celsius,
                vara intre +10 grade Celsius si +25 grade Celsius.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Muntii+Semenic">Masina personala &raquo;</a>
            </p>
        </div>

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/semenic.jpg" data-lightbox="semenic"><img src="~/Content/Images/semenic.jpg" class="img-thumbnail" /></a>
            </div>

            <!--<div style="padding: 7px">
                <img src="~/Content/Images/Timisoara02.jpg" class="img-thumbnail" />
            </div>-->
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-body" style="background:aliceblue; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Ponton Casa Baraj</h2>
            <h4>Valiug, Caras-Severin</h4>
            <br />
            <p>
                Da, este in regula vezi bine, Valiugul chiar apare in lista noastra de 2 ori. Iarna, sporturile de zapada sunt principala atractie, iar partia de la Valiug se bucura de una dintre cele mai moderne instalatii de ski din tara
            </p><p>
                N-am apucat sa o testam, dar cei care se aflau pe partie pareau sa se simta foarte bine. Pretul unui ski-pass pentru intreaga zi, in timpul saptamanii, este de 40 de lei pentru adulti, 25 de lei pentru adolescenti, iar copiii de pana la 7 ani au acces gratuit.
                in weekend este un pic mai scump: adultii platesc 70 de lei, iar adolecentii 40. In sezonul rece, partia este deschisa in fiecare zi intre 9.00 si 17.00, iar pe nocturna in intervalul 18.00 – 22.00.
                Se ajunge foarte usor cu masina, iar la baza partiei se afla barul Apres Ski unde te poti incalzi cu un vin fiert sau o ciocolata calda. Seara, aici se dau  cele mai tari petreceri de la munte pe timp de iarna, asa ca daca tot ajungi aici e pacat sa nu iei parte la distractie.
            </p>@*<p>
                Dar nu ti-am spus cum ajungi aici, si nu pentru ca am uitat, ci pentru ca traseul in sine este o atractie turistica. Pentru ca noi am petrecut ceva timp prin Caransebes ne-a fost mult mai usor sa venim pe E70, iar apoi am facut dreapta spre comuna Slatina-Timis, pe DJ582, care este de fapt Transsemenic-ul.
                Cei aproape 40 km de serpentine, aer tare de munte si peisaje superbe, fac ca drumul ce strabate muntele Semenic sa rivalizeze cu mult mai cunoscutele Transfagarasan sau Transalpina, astfel ca, pana ajungi in Valiug te poti bucura din plin de frumusetile Banatului montan.
            </p>*@
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Ponton+Casa+Baraj,+Valiug">Masina personala &raquo;</a>
            </p>
        </div>

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/valiug-iarna.jpg" data-lightbox="valiug-iarna"><img src="~/Content/Images/valiug-iarna.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

