@{
    ViewBag.Title = "Circuite si trasee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Circuite si trasee</h2>
<h4>@ViewBag.Message</h4>

<br/>

<div class="row">
    <div class="panel panel-body" style="background: lightpink; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Crivaia, Garana si Trei Ape</h2>
            <h4>Muntele Semenic, Caras-Severin</h4>
            <br/>
            <p>
                Crivaia – locul ideal pentru recreere, agrement, drumetii montane sau sporturi extreme.
                Daca altitudinea de 850 de metri a statiunii Trei Ape vi se pare prea mare, putem cobori vreo 200 de metri, la poale de Semenic si ne oprim in statiunea Crivaia.
                Ascunsa de mai bine de 200 ani in mijlocul padurilor bogate, asezarea este de un pitoresc spectaculos in muntosii banateni.
                Aici vin iubitorii de natura, dar si turistii care iubesc viata de club in regim outdoor. Toata vara, pe malul lacului Gozna au mixat, pentru mii de tineri, cunoscuti DJ din tara, dar si din strainatate.
                Totusi, cei care vin pentru relaxare au alte optiuni: perimetrul din jurul acestei asezari turistice abunda in paduri, lacuri si pesteri, parca virgine prin frumusetea lor naturala.
            </p>
            <p>
                Garana – un soi de paradis.
                Asa este caracterizat cel mai cunoscut sat de vacanta din Banat.
                Asezat pe o munchie de deal, la 935 de metri altitudine, intr-un peisaj dominat de silueta Semenicului, Garana, sat cunoscut odinioara sub denumirea Wolfsberg, se remarca prin arhitectura specifica satelor de munte germane.
                Istoria sa incepe la 1828, odata cu sosirea primilor colonisti germani, pemi, 131 la numar, al caror nume se trage de la Boemia, locul lor de origine. Dupa aproape 190 de ani de stat pe aceste meleaguri ale Banatului Montan,
                astazi in Garana mai locuiesc doar 20-25 de pemi. Restul, mii de persoane de nationalitate germana, s-au intors in zona de obarsie a stramosilor lor. Acest paradis pierdut de pemi a fost gasit, regasit, inventat, cucerit de
                cei care, inspirati, au cumparat casele lor.
            </p>
            <p>
                Lacul Trei Ape – izvorul Timisului.
                La doar 5 minute de Garana gasim cel mai inalt lac de acumulare din masivul Semenic. Lacul, cu o suprafata de 45 de hectare, este format prin bararea a trei paraie de munte (Brebu, Gradistea si Semenic) care se intalnesc aici pentru a da nastere raului Timis.
                Pe lacul Trei Ape se pot practica sporturi nautice (plimbare cu barca si hidrobicicleta). Desigur, poti practica si foto turism, aproape involuntar, pentru ca peisajele sunt superbe. Padurile de brazi invaluie ca o coroana lacul si de multe ori,
                albastrul cerului se confunda cu apele statiunii. De asemenea, daca esti un ciclist pasionat, ai putea face un traseu cu bicicleta in zona.


            </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/crivaia.jpg" data-lightbox="crivaia"><img src="~/Content/Images/crivaia.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/garana.jpg" data-lightbox="garana"><img src="~/Content/Images/garana.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/trei-ape.jpg" data-lightbox="trei-ape"><img src="~/Content/Images/trei-ape.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Trei+Ape">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="panel panel-body" style="background: lightblue; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Cheile Nerei: Cascada Bigar, Ochiul Beiului, Lacul Dracului ...</h2>
            <h4>Caras-Severin</h4>
            <br/>
            <p>
                Cheile Nerei – aceasta zona superba din sud-vestul tarii, are un potential turistic urias, pe care din ce in ce mai multi romani se incumeta sa-l descopere. Aceasta zona din judetul Caras este, la prima vedere, mai greu accesibila turistilor din intreaga tara.
                Dar lucrurile nu stau chiar asa. Din Bucuresti in Sasca Montana (punctul de plecare cel mai bun pentru oricare dintre obiectivele de mai jos) ajungi in circa 7 ore, urmand traseu Pitesti – Craiova – Drobeta Turnu Severin – Oravita (sau, ca alternativa daca vrei
                sa vezi pe drum si Dunarea la Cazane sau la Portile de Fier, o poti lua prin Moldova Noua).
                O frumusete salbatica, pe alocuri virgina, marcata de povesti si legende frumoase, de oameni calzi si de bucate alese – iata cu ce te intampina aceasta zona in care poti petrece fara regrete o vacanta de nota zece.
                Si apropo de aceasta cifra, iata zece locuri de neratat in Cheile Nerei, cu mentiunea ca pe langa ele vei intalni inca macar atatea altele catre care merita sa-ti abati pasii.
            </p>
            <p>
                In Parcul Cheile Nerei – Beusnita, vei lasa masina (in caz ca ai ajuns cu ea pana acolo) la Pastravarie si vei porni pe jos catre Lacul Ochiul Beiului, primul obiectiv al traseului (cel de-al doilea urmand sa fie Cascada Beusnita).
                Dupa aproximativ o ora de traseu rezonabil, ajungi la un lac cu apa turcoaz, incremenit in mijlocul padurii, inconjurat de copaci umbrosi. Lacul carstic e alimentat de un izvor (motiv pentru care nu ingheata pe timp de iarna), are o adancime de aproximativ 3,5 metri si o suprafata de 284 mp.
                Culoarea se datoreaza dioxidului de carbon si calcarului de pe fundul lacului, acolo unde poti zari pestii jucausi.
            </p>
            <p>
                Initial lac subteran, in pestera cu acelasi nume, lacul Dracului a ajuns in actuala forma prin prabusirea tavanului pesterii. Pentru a da cu ochii de el trebuie sa pleci din Sasca Romana catre Cantonul Damian,
                apoi Poiana lui Vogiun si o coborare pana la lac, aflat in vecinatatea malului Nerei. O alta varianta este din Sasca spre Carbunari si Sopotul Nou, apoi pe un drum forestier si o coborare continua de la jumatatea acestuia.
            </p>
            <p>
                Alte obiective in zona sunt: Sasca Montana, La tunele, Manastirea Nera, Cascadele Beusnita si Susara.
            </p>
        </div>

        <div class="row">
            @*<div class="col-md-3">
                <div style="padding: 7px">
                    <img src="~/Content/Images/bigar2.jpg" class="img-thumbnail" />
                </div>
            </div>*@
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/ochiul-beiului.jpg" data-lightbox="ochiul-beiului"><img src="~/Content/Images/ochiul-beiului.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/lacul-dracului.jpg" data-lightbox="lacul-dracului"><img src="~/Content/Images/lacul-dracului.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/tunele.jpg" data-lightbox="tunele"><img src="~/Content/Images/tunele.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Cheile+Nerei+-+Beusnita+National+Park">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>