@{
    ViewBag.Title = "Contact";
}


<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<br />
<section class="contact">
    <header>
        <h4>Telefon</h4>
    </header>
    <p>
        <span>Fix:</span>
        <span>0256.222.333</span>
    </p>
    <p>
        <span>Mobil:</span>
        <span>0724242494</span>
    </p>
    <p>
        <span>Fax:</span>
        <span>0256.222.334</span>
    </p>
</section>
<br/>
<section class="contact">
    <header>
        <h4>Email</h4>
    </header>
    <p>
        <span>Suport:</span>
        <span><a href="mailto:Support@turistbanat.com">Support@turistbanat.com</a></span>
    </p>
    <p>
        <span>Marketing:</span>
        <span><a href="mailto:Marketing@turistbanat.com">Marketing@turistbanat.com</a></span>
    </p>
    <p>
        <span>General:</span>
        <span><a href="mailto:General@turistbanat.com">General@turistbanat.com</a></span>
    </p>
</section>
<br/>
<section class="contact">
    <header>
        <h4>Adresa</h4>
    </header>
    <p>
        Strada Dropiei, nr 17<br />
        Timisoara, Romania
    </p>
</section>