
@{
    ViewBag.Title = "Evenimente_culturale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Evenimente culturale</h2>
<h4>@ViewBag.Message</h4>

<br />

<div class="row">
    <div class="panel panel-body" style="background: powderblue; border-radius: 10px;">

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/GaranaJazzFestival2.jpg" data-lightbox="GaranaJazzFestival2"><img src="~/Content/Images/GaranaJazzFestival2.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/GaranaJazzFestival.jpg" data-lightbox="GaranaJazzFestival"><img src="~/Content/Images/GaranaJazzFestival.jpg" class="img-thumbnail" /></a>
            </div>
        </div>

        <div class="col-md-7">
            <h2>Festivalul de Jazz de la Garana</h2>
            <h4>Garana, Caras-Severin</h4>
            <br />
            <p>
                Ascuns in inima Carpatilor Occidentali, micul sat Garana, denumit, de asemenea, Wolfsberg de colonistii boemieni care l-au locuit pana acum aproximativ 30 de ani - s-a dezvoltat, in ultimele decenii, intr-o colonie de artisti internationali - gazduind, pentru a 18-a oara a acestui an, singurul festival de jazz in aer liber din Europa, un fel de Woodstock contemporan.
            </p><p>
                in loc sa-si diminueze atractia, climatul capricios si locatia speciala par sa creasca ambitia participantilor de a apartine celor „alesi”, daca nu putini. De-a lungul istoriei sale relativ scurte, festivalul a prezentat o serie impresionanta de artisti de inalta clasa - printre care Eberhard Weber, Mike Stern, Jan Garbarek, Charles Lloyd, Jean-Luc Ponty, Stanley Jordan, John Abercrombie, Miroslav Vitous, Zakir Hussain, Magnus Ostrom, Bugge Wesseltoft, Lars Danielsson, Avishay Cohen si Nils Petter Molvaer -
                devenind unul dintre cele mai insemnate evenimente muzicale de acest gen, la care participa mii de iubitori de jazz care calatoresc in fiecare vara la munte, ignorand riscul ploii si noptile racoroase .

            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Garana+Jazz+Festival,+Garana">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: antiquewhite; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Custom Festival</h2>
            <h4>Resita, Caras-Severin</h4>
            <br />
            <p>
                Prima editie a festivalului CUSTOM a fost in vara lui 2019, dar cu siguranta lumea spera la mai mult.
                in ultima seara, o ploaie puternica de cod portocaliu de precipitatii, a incheiat o poveste care a inceput vineri. Pe dealul ,,stemei” care vecheaza orasul, s-a nascut un festival care se doreste a fi o noua emblema a Resitei.
                An la an, acesta trebuie sa devina tot mai important. In cele trei zile, pe platoul Golului, s-au adunat cateva mii de oameni de peste tot si trupe de toate felurile, din tara si strainatate.
            </p><p>
                Participantii de toate varste au afirmat ca totul a fost super, organizarea a fost buna, nu a lipsit nimic, si toti, dar absolut toti, au apreciat locatia, inedita si spectaculoasa. Pentru artisti, atmosfera a fost speciala, iar publicul deosebit.
                S-a cantat mult si bine, au fost trupe tinere romanesti, dar si consacrate precum UDO sau DORO care cu experienta miilor de turnee internationale, au facut show si aici la Resita, pe dealul Golului.
            </p><p>
                in cazul acestor concerte, accesul publicului nu va mai fi gratuit. „Evident ca vom avea in oras, ca si anul trecut, diverse activitati, actiuni in Parcul Carasana, in Parcul Tricolorului, in Centrul Civic, care vor fi cu titlu gratuit sau ceva de
                genul asta, dar vom avea si doua seri de evenimente in care se va merge pe baza de bilet sau pe baza de abonament, vom securiza zona.
                Asteptarile noastre sincere sunt undeva la 20.000 de oameni“, a subliniat edilul, care s-a aratat increzator vizavi de faptul ca la Zilele Resitei vor veni si cetateni straini: „Daca ma intrebati pe mine, resiteni la care ma astept sa participe sunt,
                potrivit estimarilor noastre, undeva la 4-5.000, restul vor veni din afara orasului. S-ar putea, pe numele pe care le avem, sa avem oameni care vin si din Serbia, si din Ungaria.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//CUSTOM+RESITA+FESTIVAL,+Strada+1950+Randul+2,+Resita">Masina personala &raquo;</a>
            </p>
        </div>

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/custom.jpg" data-lightbox="custom"><img src="~/Content/Images/custom.jpg" class="img-thumbnail" /></a>
            </div>

            <div style="padding: 7px">
                <a href="~/Content/Images/custom2.jpg" data-lightbox="custom2"><img src="~/Content/Images/custom2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>
