
@{
    ViewBag.Title = "Gradini_zoo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gradini zoo</h2>
<h4>@ViewBag.Message</h4>

<br />

<div class="row">
    <div class="panel panel-body" style="background: powderblue; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Gradina Zoologica Ioan Crisan</h2>
            <h4>Resita, Caras-Severin</h4>
            <br />
            <p>
                Gradina zoologica ”Ioan Crisan” Resita, construita in anul 1965, modernizata in anul 2013, cu o suprafata de 5,6 hectare, va intampina cu exemplare unice si rare.
            </p><p>
                Ioan Crisan, al carui nume il poarta gradina zoologica din Resita, a fost profesor de biologie la Bastilia (actualul liceu „Diaconovici-Tietz”). Prin anii ’60 ai secolului trecut, pe vremea cand era director al liceului,
                acesta a infiintat in curtea institutiei o minigradina zoologica, a carei vedeta necontestata era un urs. Acesta a fost inceputul, marturie a dragostei profesorului pentru natura vie, pentru cunoasterea ei de catre elevi.
                Mai tarziu animalele au fost transferate in parcul orasului, numarul lor crescand permanent.
            </p><p>
                in prezent Gradina Zoologica este cea mai mare din vestul tarii si aici se regasesc animale precum: zimbri, jaguar, puma, emu, lama, mara, sconcs si cerb lopatar.
                De asemenea, Gradina Zoologica „prof. Ion Crisan” din Resita beneficiaza de constructii noi precum: o cladire educationala, destinata elevilor,
                pentru desfasurarea orelor de biologie sau a altor activitati, un punct veterinar modern, o cladire-carantina, o bucatarie, un fanar, o magazie multifunctionala precum si un magazin de suveniruri.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/place/Gradina+Zoologica+Ion+Crisan,+Strada+Parcului,+Resita">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/zoo-resita4.jpg" data-lightbox="zoo-resita4"><img src="~/Content/Images/zoo-resita4.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/zoo-resita3.jpg" data-lightbox="zoo-resita3"><img src="~/Content/Images/zoo-resita3.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background:lightyellow; border-radius: 10px;">

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/zoo-tm2.JPG" data-lightbox="zoo-tm2"><img src="~/Content/Images/zoo-tm2.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/zoo-tm.JPG" data-lightbox="zoo-tm"><img src="~/Content/Images/zoo-tm.jpg" class="img-thumbnail" /></a>
            </div>
        </div>

        <div class="col-md-7">
            <h2>Gradina Zoologica din Timisoara</h2>
            <h4>Timisoara, Timis</h4>
            <br />
            <p>
                Gradina Zoologica Timisoara este cea mai noua gradina zoologica din Romania si este amplasata in partea de nord-est a Municipiului, in Padurea Verde,
                pe o suprafata de 6,34 ha teren, aflat in proprietatea Consiliului Local al Municipiului Timisoara.
                in anul 2007, Gradina Zoologica a fost modernizata, cu aceasta ocazie, s-au amenajat 16 habitate care adapostesc 29 de specii si un numar de 144 de animale.
            </p><p>
                Noua Gradina Zoologica “Padurea Verde”, cu noul concept "mai mult spatiu, mai aproape de animale", dupa o perioada, timp in care au fost realizate numeroase lucrari de investitii cu
                o valoare de peste un milion de euro, a reusit sa devina cea mai vizitata gradina zoologica din vestul tarii si locul preferat de relaxare al tinerilor.
            </p><p>
                Calatoria prin Gradina Zoologica Timisoara cu siguranta va fi o experienta uimitoare si o modalitate excelenta de a petrece timpul in mod placut si totodata constructiv, daca va hotarati sa vizitati Gradina Zoologica Timisoara.
                Imprevizibile si prietenoase, jucause si primitoare, animalele sunt adapostite in habitate special amenajate, moderne, care reproduc in mare parte conditiile naturale de viata ale acestora.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Timisoara+Zoo,+Strada+Avram+Imbroane+90,+Timisoara+300136">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>
