@{
    ViewBag.Title = "Hoteluri_pensiuni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hoteluri si pensiuni</h2>
<h4>@ViewBag.Message</h4>

<br/>

<div class="row">
    <div class="panel panel-body" style="background: lightblue; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Hotel Ambassador</h2>
            <h4>Timisoara, Timis</h4>
            <br/>
            <p>
                Amplasat in cartierul Iosefin, unul dintre cel mai vechi si incarcate de istorie locuri ale Timisoarei, la doar 5 minute cu masina de centrul orasului si la doar 10 minute de plimbare de
                noul mall Shopping City care reuneste cele mai renumite branduri internationale, cel mai mare Cinema City din vestul tarii, precum si facilitatile deosebite de petrecere a timpului liber precum salile de fitness, piscina si unica partie de schi dintr-un mall din Romania.
            </p>
            <p>
                Hotelul Ambassador dispune de camere in regim de 4 stele si 3 stele dotate la cele mai inalte standarde.
                Eleganta, stil, rafinament, somptuozitate, discretie, intimitate, rasfat… sunt atribute care descriu cel mai bine ambientul hotelului nostru.
            </p>
            <p>
                Restaurantul "In style", spatiul pentru caffe & lounge este, de asemenea, locul ideal pentru intalniri informale.
                Ambassador In Style este un restaurant cu bucatarie romaneasca si internationala menit sa satisfaca gusturile culinare ale clientilor sai!

            </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    @*<img src="~/Content/Images/ambassador.jpg" class="img-thumbnail"/>*@
                    <a href="~/Content/Images/ambassador.jpg" data-lightbox="ambassador"><img src="~/Content/Images/ambassador.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/ambassador2.jpg" data-lightbox="ambassador2"><img src="~/Content/Images/ambassador2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/ambassador3.jpg" data-lightbox="ambassador3"><img src="~/Content/Images/ambassador3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <p>
                <a class="btn btn-success" href="https://www.ambassador.ro">Website &raquo;</a>
                <a class="btn btn-primary" href="https://www.booking.com/hotel/ro/bestwesternambassadortimisoara.ro.html">Booking.com &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Hotel+Ambassador+Timisoara%2FRomania,+Strada+Mangalia,+Timisoara">Localizare Google Maps &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="panel panel-body" style="background: lightgoldenrodyellow; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Hotel Rogge</h2>
            <h4>Resita, Caras-Severin</h4>
            <br/>
            <p>
                Hotel Rogge este un hotel de trei stele destinat sa corespunda tuturor asteptarilor, oferind servicii la cele mai inalte standarde.
                Cu o arhitectura moderna si dotari de ultima generatie, hotelul nostru reprezinta un loc special, intim si elegant, fiind alegerea ideala atat pentru turisti cat si pentru oamenii de afaceri.
            </p>
            <p>
                De asemenea, la noi veti regasi numeroase facilitati pentru organizarea de Evenimente, dar si pentru petrecerea timpului liber, toate acestea acompaniate de serviciile prompte oferite de personalul nostru profesionist, amabil si intotdeauna la dispozitia dumneavoastra.
            </p>
            <p>
                Hotelul Rogge ofera WiFi gratuit, aer conditionat gratuit, receptie cu program nonstop, zona de wellness si restaurant. De asemenea, hotelul ofera gratuit locuri de parcare private. Camerele de la Hotelul Rogge sunt dotate cu TV cu ecran plat cu canale prin cablu,
                minibar si un seif pentru laptop. Zona de wellness include o sauna, cada cu hidromasaj si un centru de fitness. Oaspetii nostri au la dispozitie un depozit de bagaje si un serviciu de inchirieri auto.
            </p>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/rogge.jpg" data-lightbox="rogge"><img src="~/Content/Images/rogge.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/rogge2.jpg" data-lightbox="rogge2"><img src="~/Content/Images/rogge2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/rogge3.jpg" data-lightbox="rogge3"><img src="~/Content/Images/rogge3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <p>
                <a class="btn btn-success" href="https://www.hotelrogge.ro">Website &raquo;</a>
                <a class="btn btn-primary" href="https://www.booking.com/hotel/ro/best-western-plus-rogge-resita.ro.html">Booking.com &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Hotel+Rogge,+Strada+Ion+Luca+Caragiale,+Resita">Localizare Google Maps &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="panel panel-body" style="background: lightsalmon; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Hotel J'adore Boutique</h2>
            <h4>Lugoj, Timis</h4>
            <br/>
            <p>
                J'adore Boutique Hotel se afla in Lugoj si are restaurant, bar, gradina si piscina sezoniera in aer liber. Acest hotel de 3 stele pune la dispozitie WiFi gratuit, room-service si receptie deschisa non-stop.
                Parcarea privata este disponibila la un cost suplimentar.
            </p><p>
                Toate camerele hotelului au TV cu ecran plat. Toate camerele de la J'adore Boutique Hotel ofera aer conditionat si baie privata.
                Oaspetii unitatii de cazare au la dispozitie un mic dejun continental.
            </p><p>
                J'adore Boutique Hotel ofera o terasa.
                Cel mai apropiat aeroport este Aeroportul International Traian Vuia Timisoara, situat la 67 km de hotel.
                Cuplurile apreciaza in mod deosebit aceasta locatie. I-au dat scorul 8,6 pentru un sejur pentru 2 persoane.

            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/jadore-lugoj.jpg" data-lightbox="jadore-lugoj"><img src="~/Content/Images/jadore-lugoj.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/jadore-lugoj2.jpg" data-lightbox="jadore-lugoj2"><img src="~/Content/Images/jadore-lugoj2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/jadore-lugoj3.jpg" data-lightbox="jadore-lugoj3"><img src="~/Content/Images/jadore-lugoj3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <p>
                <a class="btn btn-success" href="https://www.facebook.com/jadoreboutiquehotel/">Website &raquo;</a>
                <a class="btn btn-primary" href="https://www.booking.com/hotel/ro/j-39-adore-boutique.en-gb.html">Booking.com &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Jadore+Restaurant,+Lugoj">Localizare Google Maps &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="panel panel-body" style="background: lightskyblue; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Pensiunea Nerahouse</h2>
            <h4>Ilidia, Caras-Severin</h4>
            <br/>
            <p>
                Situata in Ilidia, in judetul Caras-Severin, Nerahouse ofera cazare cu WiFi gratuit si parcare privata gratuita.
                Baia privata are dus si articole de toaleta gratuite.
                Aceasta pensiune agroturistica pune la dispozitie o terasa la soare si gratar.
                Rezervatia naturala Cheile Nerei care se afla in apropiere.
            </p><p>
                Proprietatea este situata intr-un loc de poveste, intr-un sat incarcat de istorie la poalele muntilor Aninei. In acest colt al Banatului montan, timpul se opreste in loc,
                iar influenta austriaca inca isi face simtita prezenta. Pensiunea are o bucatarie utilata complet, iar camerele sunt dotate cu tot ce este nevoie pentru un sejur autentic.

            </p>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/nerahouse-ilidia.jpg" data-lightbox="nerahouse-ilidia"><img src="~/Content/Images/nerahouse-ilidia.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/nerahouse-ilidia2.jpg" data-lightbox="nerahouse-ilidia2"><img src="~/Content/Images/nerahouse-ilidia2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/nerahouse-ilidia3.jpg" data-lightbox="nerahouse-ilidia3"><img src="~/Content/Images/nerahouse-ilidia3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <p>
                <a class="btn btn-success" href="https://www.facebook.com/pensiuneanerahouse/">Website &raquo;</a>
                <a class="btn btn-primary" href="https://www.booking.com/hotel/ro/nerahouse.ro.html">Booking.com &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Pensiunea+Nera+House,+Ilidia">Localizare Google Maps &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="panel panel-body" style="background: cadetblue; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Villa Rustica</h2>
            <h4>Gornea, Caras-Severin</h4>
            <br/>
            <p>
                Oferind gratar si terasa, Villa Rustica se afla in Gornea. Oaspetii pot lua masa la restaurantul proprietatii.
                Camerele au TV cu ecran plat cu canale prin satelit. De asemenea, camerele includ baie privata.
                Receptia proprietatii este deschisa non-stop.
                Zona este apreciata de amatorii de pescuit si drumetii.

            </p>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/villa-rustica.jpg" data-lightbox="villa-rustica"><img src="~/Content/Images/villa-rustica.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/villa-rustica2.jpg" data-lightbox="villa-rustica2"><img src="~/Content/Images/villa-rustica2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/villa-rustica3.jpg" data-lightbox="villa-rustica3"><img src="~/Content/Images/villa-rustica3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <p>
                <a class="btn btn-success" href="https://www.facebook.com/Pensiunea-Villa-Rustica-Clisura-Dun%C4%83rii-1647336842160512/">Website &raquo;</a>
                <a class="btn btn-primary" href="https://www.booking.com/hotel/ro/villa-rustica-gornea.ro.html">Booking.com &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Villa+Rustica,+Gornea">Localizare Google Maps &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="panel panel-body" style="background: gainsboro; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Casa lu' Pele pescaru'</h2>
            <h4>Victor Vlad Delamarina, Timis</h4>
            <br/>
            <p>
                Casa lu' Pele pescaru' ofera cazare cu bar si WiFi gratuit.
                Toate unitatile de cazare au aer conditionat si TV cu ecran plat cu canale prin satelit.
                Aceasta pensiune agroturistica are terasa.
            </p><p>
                Oaspetii se pot relaxa in gradina proprietatii.
                Orasul Lugoj este situat la 5 km de Casa lu' Pele pescaru'.

            </p>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/pescaru-delamarina.jpg" data-lightbox="pescaru-delamarina"><img src="~/Content/Images/pescaru-delamarina.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/pescaru-delamarina32.jpg" data-lightbox="pescaru-delamarina32"><img src="~/Content/Images/pescaru-delamarina32.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/pescaru-delamarina2.jpg" data-lightbox="pescaru-delamarina2"><img src="~/Content/Images/pescaru-delamarina2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <p>
                <a class="btn btn-success" href="https://www.facebook.com/pages/category/Bed-and-Breakfast/Casa-lu-Pele-pescaru-110662984048705/">Website &raquo;</a>
                <a class="btn btn-primary" href="https://www.booking.com/hotel/ro/casa-lu-39-pele-pescaru-39.ro.html">Booking.com &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Pescaria+Pele">Localizare Google Maps &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="panel panel-body" style="background: lightblue; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Pensiunea Casa Ana</h2>
            <h4>Gladna Romana, Timis</h4>
            <br/>
            <p>
                Pensiunea Casa Ana are terasa si se afla in satul Gladna Romana din judetul Timis.
                Unitatea de cazare este situata la 40 km de Lugoj, iar oaspetii beneficiaza de parcare privata si WiFi gratuit.
            </p><p>
                Aceasta pensiune agroturistica include zona de luat masa, o bucatarie cu masina de spalat vase si TV cu ecran plat.
                Cel mai apropiat aeroport este Aeroportul International Traian Vuia din Timisoara, aflat la 99 km de pensiunea agroturistica.

            </p>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/casa-ana.jpg" data-lightbox="casa-ana"><img src="~/Content/Images/casa-ana.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/casa-ana2.jpg" data-lightbox="casa-ana2"><img src="~/Content/Images/casa-ana2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/casa-ana3.jpg" data-lightbox="casa-ana3"><img src="~/Content/Images/casa-ana3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <p>
                <a class="btn btn-success" href="https://www.pensiuneacasaana.ro/">Website &raquo;</a>
                <a class="btn btn-primary" href="https://www.booking.com/hotel/ro/pensiunea-casa-ana-gladna-romana.ro.html">Booking.com &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Pensiunea+Casa+Ana,+DJ681D,+Gladna+Rom%C3%A2n%C4%83">Localizare Google Maps &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="panel panel-body" style="background: lightgreen; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Pensiunea Dora Sasca</h2>
            <h4>Sasca Montana, Caras-Severin</h4>
            <br/>
            <p>
                Situata in Sasca Montana, Pensiunea Dora Sasca are WiFi gratuit, un restaurant, un bar si o gradina.
                Aceasta pensiune agroturistica pune la dispozitie o terasa si facilitati de gratar.
            </p>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/dora-sasca.jpg" data-lightbox="dora-sasca"><img src="~/Content/Images/dora-sasca.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/dora-sasca2.jpg" data-lightbox="dora-sasca2"><img src="~/Content/Images/dora-sasca2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/dora-sasca3.jpg" data-lightbox="dora-sasca3"><img src="~/Content/Images/dora-sasca3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br/>
        <div>
            <p>
                <a class="btn btn-success" href="https://www.facebook.com/pensiuneadoracheilenerei/">Website &raquo;</a>
                <a class="btn btn-primary" href="https://www.booking.com/hotel/ro/pensiunea-dora-sasca.en-gb.html">Booking.com &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Pensiunea+DORA+SASCA,+Sasca+Montan%C4%83">Localizare Google Maps &raquo;</a>
            </p>
        </div>
    </div>
</div>