@{
    ViewBag.Title = "Prima pagina";
}

<h2>Regiunea Banat </h2>
<h4>Scurta descriere</h4>

<br />

<div class="row">
    <div class="col-md-7">
        <p>
            Banatul este o provincie istorica care cuprinde astazi zone din Romania, Serbia (Banatul Sarbesc) si o foarte mica parte din Ungaria.
        </p>
        <p>
            "Dintre toate regiunile locuite astazi de romani la nord de Dunare, Banatul si Oltenia, cu prelungirea lor cea comuna in tara Hategului, sunt singurele care reprezinta o
            continuitate neintrerupta geografico - istorica a neamului romanesc - un cuib de unde se romaniza treptat tarile spre apus, spre crivat si spre rasarit, ba indirect si
            cele de peste Dunare, cuibul mereu descarcandu-si prinosul, dar ramanand totdeauna plin." Bogdan Petriceicu Hasdeu
        </p>
        <p>
            in perioada austro-ungara au fost numite „banaturi” toate comitatele de granita, conduse de un ban. Denumirea s-a limitat mai tarziu la actuala provincie „Banat”.
        </p>

        <p>
            Proclamarea Republicii Banatene in anul 1918, ca provincie autonoma in cadrul Ungariei a fost o incercare esuata de pastrare a unitatii Banatului multietnic si multiconfesional.
        </p>

    </div>

    <div class="col-md-5">
        <div style="padding: 7px">
            <a href="~/Content/Images/harta-turistica-banat.jpg" data-lightbox="harta-turistica-banat"><img src="~/Content/Images/harta-turistica-banat.jpg" class="img-thumbnail" /></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div style="padding: 7px">
            <a href="~/Content/Images/banatul-montan.jpg" data-lightbox="banatul-montan"><img src="~/Content/Images/banatul-montan.jpg" class="img-thumbnail" /></a>
        </div>
    </div>
    <div class="col-md-6">
        <p>
            Numele provinciei se leaga de statutul special al unor parti ale acesteia in cadrul regatului maghiar medieval, Banatul de Severin si succesorul acestuia Banatul de Lugoj-Caransebes, formatiuni politice,
            militare si administrative cu rolul de marca in cadrul sistemului defensiv antiotoman.
        </p>
        <p>
            Pentru prima data numele de Banatus Temesvariensis sau Banatus Temesiensis a fost folosit in rapoartele lui
            Luigi Ferdinando Marsigli din ultimul deceniu al secolului al XVII-lea si in textul tratatului de pace de la Karlovitz (1699). Pentru romani, regiunea a mai fost cunoscuta si sub denumirea de Temisana.
        </p>

    </div>
</div>
<br />
<div class="row" style="padding-left: 12px; padding-right: 12px">
    <p>
        Banatul istoric insuma o suprafata de 28 526 km2. Diverse surse indica cifre usor diferite de aceasta.
        La impartirea provinciei, in 1919, Romaniei i-a fost atribuita o suprafata de 18 966 km² (aproximativ 2/3 din total), Regatului Sarbilor, Croatilor si Slovenilor 9 276 km², (aproximativ 1/3 din total),
        iar Ungariei 284 km² (aproximativ 1% din total).
    </p>
    <p>
        Orasele reprezentative ale acestei regiuni sunt Timisoara, Resita si Lugoj. Mai jos este reprezentata in doua poze "capitala banatului", Timisoara.
    </p>
</div>

<div class="row">
    <div class="col-md-8">
        <div style="padding: 7px">
            <a href="~/Content/Images/Timisoara04.jpg" data-lightbox="Timisoara04"><img src="~/Content/Images/Timisoara04.jpg" class="img-thumbnail" /></a>
        </div>
    </div>
    <div class="col-md-4">
        <div style="padding: 7px">
            <a href="~/Content/Images/Timisoara05.jpg" data-lightbox="Timisoara05"><img src="~/Content/Images/Timisoara05.jpg" class="img-thumbnail" /></a>
        </div>
    </div>
</div>
