@{
    ViewBag.Title = "Natura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Natura</h2>
<h4>@ViewBag.Message</h4>

<br />

<div class="row">
    <div class="panel panel-body" style="background: powderblue; border-radius: 10px;">
        
        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/bigar.jpg" data-lightbox="bigar"><img src="~/Content/Images/bigar.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/bigar3.jpg" data-lightbox="bigar3"><img src="~/Content/Images/bigar3.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/bigar4.jpg" data-lightbox="bigar4"><img src="~/Content/Images/bigar4.jpg" class="img-thumbnail" /></a>
            </div>
        </div>

        <div class="col-md-7">
            <h2>Cascada Bigar</h2>
            <h4>Parcul National Cheile Nerei, Caras-Severin</h4>
            <br/>
            <p>
                Cascada este formata pe tuf calcaros acoperit de muschi verde pufos. Are aspect tronconic, ca o cusma. Dar cea mai potrivita comparatie e aceia cu crestetul unei fete cu pletele ca in legenda.
                Apa vine din Izbucul Bigar. Izbuc este locul unde un curs de apa subteran iese la suprafata dupa ce a strabatut o pestera. Paraul Golumbu aflat in nord la cinci kilometri,
                intra printr-un sorb in subteran si iese la suprafata in Izbucul Bigar. Stanca Carsa Goznei are peste 50 de metri inaltime iar izbucul de doi metri diametru la baza are apa limpede in care inoata pastravii. Aici, la zece minute de mers, se afla Grota Bigar, iar in apropiere se gaseste pastravaria Minis.
            </p>
            <p>
                Cascada are opt metri inaltime si se afla in Cheile Minisului din Banat. Cheile, prin cei 14 km lungime sunt pe locul trei in Romania, dupa Cheile Nerei si Carasului , aflate in apropiere. Cheile Minisului sunt strabatute de drumul asfaltat DN 57B.
                Cascada Bigar se afla in locul in care drumul se intersecteaza cu paralela 45, punct marcat printr-o borna. Este extrem de accesibila aflandu-se chiar in marginea drumului, la 17 km de Anina si la 12 km de Bozovici.
            </p>
            <p>
                Legenda cascadei este neasemuita prin originalitatea ei.
                Se spune ca odata, demult, in vremuri de care numai pietrele reci si mute si muntii carunti isi mai amintesc traia o familie de oameni harnici. Femeia, pe care sotul ei o iubea nespus, era de o frumusete rapitoare. Trecusera destui ani de cand erau impreuna insa erau nefericiti pentru ca isi doreau mult un copil. Traiau in munti cu dorul lor nestins. Dar intr-o zi viata lor avea sa se schimbe. O batrana vrajitoare i-a spus femeii ca daca va bea apa din izbucul de la grota va ramane grea. Exista insa o conditie. Daca va fi fata, ea nu trebuia sa se indragosteasca pentru ca acest lucru ii putea aduce moartea.
                in sfarsit, la soroc, femeia a nascut o fetita de toata frumusetea. Visul celor doi se implinise. Fetita crestea si in fiecare zi se facea tot mai frumoasa. Parul ei era ca matasea porumbului, iar ochii ca doua lacuri de munte in care se topise cerul. Toti flacaii o ravneau, frumusetea ei ii incanta dar ea trecea mai departe vesela si nepasatoare pana intr-o zi cand l-a intalnit pe Bigar, flacau mandru cu ochii ca de foc. Inima ei s-a topit pe data. Se intalneau doua suflete pline de iubire, de dorinti, de frumusete, doua universuri a caror contopire puteau sa dea iubirii stralucirea unei stele.
                Tatal fetei a simtit insa pericolul si a inchis-o in grota, pentru a o proteja. Dar destinul isi urma cursul. Fata iubea, iubea nespus si strigatele ei de durere si disperare au fost auzite de vrajitoarea care locuia pe celalalt taram. Ea veni la fata si ii spuse: tot ce mai pot sa fac pentru tine este sa iti transform parul intr-o cascada pe care vor curge lacrimile tale.
                Iubitul sau Bigar, veni atras de glasul fetei si... Se ineca in lacrimile iubitei sale. Dupa ce dragostea le-a fost pusa la incercare, cei doi au ajuns pe Taramul Regasit al Dorului, unde se iubesc vesnic. Frumoasa poveste ne aminteste ca iubirea nu poate fi invinsa nici de moarte. Oamenii locului povestesc cu farmec legenda, splendoarea cascadei inspirandu-i.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Cascada+Bigar,+DN57B">Masina personala &raquo;</a>
            </p>
        </div>

    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background:antiquewhite; border-radius: 10px;">

        <div class="col-md-7">
            <h2>Pestera Comarnic</h2>
            <h4>Muntii Aninei, Caras-Severin</h4>
            <br />
            <p>
                Turistii care ajung in Parcul National Semenic – Cheile Carasului nu trebuie sa rateze Pestera Comarnic. Grota este considerata de multi ca fiind cea mai frumoasa si mai spectaculoasa din Banat si chiar din Romania.
            </p><p>
                Una dintre cele mai importante atractii turistice din Parcul National Semenic – Cheile Carasului este Pestera Comarnic. Persoanele care au ajuns sa o viziteze nu au cum sa nu fie impresionate de frumusetea sa unica.
                Grota este situata in inima Muntilor Banatului, aproximativ la jumatatea distantei dintre orasele Resita si Anina, in apropierea confluentei dintre paraul Comarnic si raul Caras, fiind rezervatie speologica.
            </p><p>
                Potrivit reprezentantilor Regiei Nationale a Padurilor – Romsilva, pestera are doua intrari principale, una in amonte (in directia sud-est), la o altitudine de 473 metri, pe unde patrunde si paraul Ponicova,
                si o a doua, in aval (la nord), situata pe versantul Navesu Mic, la altitudinea de 443 metri, din imediata apropiere a Cantonului Comarnic.
            </p><p>
                „Pestera Comarnic este cea mai frumoasa si salbatica pestera din Banat si chiar din Romania. Ea este a doua ca lungime din Banat, cu o lungime de 6.201 metri.
                Din cei peste 6.200 metri structurati pe trei niveluri, fosil, subfosil si active, turistii pot vizita doar nivelul superior, cel „uscat”, pe o lungime de 1750 m. Nivelul inferior este strabatut de cursul subteran al paraului Ponicova”, a informat Romsilva.

            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Pestera+Comarnic">Masina personala &raquo;</a>
            </p>
        </div>
        
        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/comarnic.jpg" data-lightbox="comarnic"><img src="~/Content/Images/comarnic.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/comarnic2.jpg" data-lightbox="comarnic2"><img src="~/Content/Images/comarnic2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>

    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: gainsboro; border-radius: 10px;">
        
        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/poiana-marului.jpg" data-lightbox="poiana-marului"><img src="~/Content/Images/poiana-marului.jpg" class="img-thumbnail" /></a>
            </div>

            <div style="padding: 7px">
                <a href="~/Content/Images/poiana-marului2.jpg" data-lightbox="poiana-marului2"><img src="~/Content/Images/poiana-marului2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>

        <div class="col-md-7">
            <h2>Poiana Marului</h2>
            <h4>Muntele Mic, Caras-Severin</h4>
            <br/>
            <p>
                Statiunea Poiana Marului din judetul Caras Severin se afla la o distanta de 22km de Otelu Rosu, asezata la poalele Muntelui Tarcu, intr-un decor creat de padurile de conifere si foioase raspandite intre Muntele Mic, Nedeea si Varful Pietre.
                In Statiunea Poiana Marului putandu-se ajunge pe DN68, Caransebes – Hateg, cu deviere pe langa comuna Zavoi. Statiunea Poiana Marului a fost infiintata in perioada Imperiului Austro-Ungar de catre Primaria Timisoarei ca statiune de vara. Aerul deosebit de curat, peisajul mirific,
                rupt parca din povesti, a adus statiunii o binevenita faima in imperiu, ca loc de tratare a bolilor de plamani. Insusi Imparatul venea de la Viena pentru a se trata.
            </p>
            <p>
                Dezvoltarea zonei Poiana Marului a inceput odata cu Ordonanta de Guvern data in 1936, cu privire la infiintarea celor doua statiuni, Muntele Mic si Poiana Marului. Interesul pentru aceasta zona s-a manifestat de pe vremea dacilor, gasindu-se aici numeroase vestigii, dintre care cel mai important este un altar pagan la altitudinea de 1200m pe versantul nordic al masivului Muntele Mic.
                Denumita de localnici „Pietrele Scorile”, zona pare a fi fost locul de vanatoare preferat de daci. Pe traseul turistic Muntele Mic – Poiana Marului, pe valea Scorilo, legenda spune ca ar fi ingropat acolo regele dac Scorilo, tatal lui Decebal (la Sarmizegetusa s-a descoperit celebra inscriptie „Decebalus per Scorilo”). Odata cu infiintarea otelariei in orasul Otelu Rosu (fost Ferdinand), in anul 1880, au fost colonizati si atrasi spre acest oras un numar important de muncitori.
                Poiana Marului a devenit o zona de exploatare forestiera, dar si o zona de recreare, asa cum o demonstreaza fostele trenuri forestiere, la care se atasau vagoane pentru calatori. Linia forestiera Zavoi – Poiana Marului a fost construita in 1907, iar din 1937 a circulat un automotor cu remorca (asemanator cu un tramvai).
                Primele spatii de cazare au fost Vila „Aca de Barbu”, apartinand unei familii italiene si Vila Bistra, construita de timisoreni, in aceeasi perioada cand pe Muntele Mic au inceput primele constructii.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Poiana+Marului">Masina personala &raquo;</a>
            </p>
        </div>

    </div>
</div>


<hr />


<div class="row">
    <div class="panel panel-body" style="background:antiquewhite; border-radius: 10px;">

        <div class="col-md-7">
            <h2>Morile de apa de la Rudaria</h2>
            <h4>Cheile Rudariei, Caras-Severin</h4>
            <br />
            <p>
                Cele 22 de mori de apa de la Rudaria, aflate in judetul Caras-Severin si incluse in patrimoniul mondial UNESCO, sunt vizitate in fiecare an de cateva mii de turisti.
                Primarul comunei Eftimie Murgu, Mihai Vladia, a declarat, corespondentului MEDIAFAX, ca pe raul Rudarica se afla 22 de mori de apa cu ciutura, toate fiind functionale. Acestea sunt in proprietatea catorva familii din comuna si macina faina de peste un secol. Morile poarta numele constructorului, al locului in care sunt amplasate sau al unei „familii-sef", precum „indaratnica de la perete", „Moara din tarina" sau „Popascu".
            </p><p>
                Rezervatia mulinologica de la Rudaria, fosta denumire a comunei Eftimie Murgu, este unica in Europa de Est, fiind vizitata in fiecare an de cateva mii de turisti, romani si straini. Unul dintre motive este si acela ca se afla foarte aproape de Cascada Bigar, desemnata cea mai spectaculoasa din lume, in urma cu cativa ani. In anul 2004, morile de apa de la Rudaria au fost incluse in patrimoniul mondial UNESCO.
            </p><p>
                „in perioada interbelica existau 48 de mori de apa, dar dupa al Doilea Razboi Mondial mai mult de jumatate au fost distruse, astfel ca in prezent mai exista 22, toate fiind functionale. Morile apartin rudarenilor, oamenilor din Rudaria, nu vin persoane din alte localitati sa macine faina. Cel mai mult ma bucura ca incep sa fie vizitate de turisti din strainatate.
                Vin oameni din intreaga Europa, in special din Germania, Austria, Italia, Spania, Ungaria sau Serbia. Oamenii afla de mori de pe Internet, in primul rand. Morile sunt vizitate de cateva mii de turisti in fiecare an, iar vara vin cele mai multe persoane", a afirmat primarul comunei Eftimie Murgu.

            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Morile+de+apa+de+la+Rudaria,+DJ571F,+Eftimie+Murgu">Masina personala &raquo;</a>
            </p>
        </div>
        
        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/rudaria.JPG" data-lightbox="rudaria"><img src="~/Content/Images/rudaria.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/rudaria2.JPG" data-lightbox="rudaria2"><img src="~/Content/Images/rudaria2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>

    </div>
</div>
