@{
    ViewBag.Title = "Orase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orase</h2>
<h4>@ViewBag.Message</h4>

<br />

<div class="row">
    <div class="panel panel-body" style="background: powderblue; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Timisoara</h2>
            <h4>Judetul Timis</h4>
            <br />
            <p>
                Timisoara este situata in sud-estul Campiei Panonice (respectiv in sudul Campiei de Vest), in zona de divagare a raurilor Timis si Bega.
                Timisoara, in traducere: „cetatea de pe Timis” este resedinta si cel mai mare oras al judetului Timis din regiunea istorica Banat, vestul Romaniei.
                Numele localitatii vine de la raul Timis (trecand la sud de municipiu), numit de romani in antichitate Tibisis sau Tibiscus.
            </p>
            <p>
                Prima atestare documentara a localitatii Timisoara este destul de controversata, aceasta fiind plasata de specialisti in 1212 sau in 1266. In 1175 este mentionat comitatul Timis, dar sursele nu mentioneaza care este centrul economic si administrativ al acestuia.
                in momentul atestarii sale acesta facea parte din comitatul Timis, o unitate administrativ teritoriala a regatului ungar. Teritoriul cunoscut mai tarziu ca Banat cu centrul administrativ in „Urbis Morisena” (apoi Cenad), fusese cucerit de catre maghiari in jurul anului 1030 si incorporat in regatul ungar.
            </p>
            <p>
                Fiind asezata intr-un punct strategic, de unde putea fi controlata o mare parte a Campiei Banatului, atat Timisoara cat si functia de comite de Timis au devenit din ce in ce mai importante. Timisoara a primit un impuls deosebit in timpul domniei regelui Carol Robert de Anjou, care in urma vizitei sale din 1307 a ordonat construirea aici a unui palat regal. In timpul anarhiei feudale, acesta va muta capitala Ungariei la Timisoara. Numirea lui Iancu de Hunedoara in functia de comite de Timis, in 1440 marcheaza un capitol aparte din istoria Timisoarei.
                Iancu de Hunedoara a fost cunoscut in intreaga regiune pentru reputata victorie de la Belgrad asupra otomanilor, fiind considerat in acea vreme aparator al crestinatatii. El a transformat orasul intr-o tabara militara permanenta si in domiciliul sau, dupa ce s-a mutat aici impreuna cu familia.
                Astfel, cetatea va ramane in posesia Corvinestilor pana in 1490.
                Pe 20 decembrie 1989, Timisoara a fost declarata primul oras din Romania liber de comunism.
            </p>
            <p>

                Timisoara este un oras multicultural, influentat de diversele comunitati etnice, in special de cea germana, maghiara si sarba, dar si de cele bulgara, italiana si greaca. Mostenirea culturala si diversitatea ofertei culturale sunt punctele forte ale orasului.
                Cu cele peste 12 institutii culturale profesioniste, Timisoara este, dupa Bucuresti si Iasi, al treilea pol cultural din tara din punct de vedere al marimii si diversitatii ofertei culturale. O mare traditie o are teatrul timisorean, care prin cele trei teatre de stat, (in premiera in Europa): Teatrul National, / Teatrul German si Teatrul Maghiar, ofera spectacole in limbile romana, germana si maghiara. Cele trei institutii impart aceeasi cladire-simbol cu Opera Romana.
                Din punct de vedere turistic Timisoara detine cel mai amplu ansamblu de cladiri istorice din Romania, constituit din ansamblurile urbane ale cartierelor Cetate, Iosefin si Fabric. Arhitectura variata, influentele barocului Vienez si multitudinea de parcuri au adus Timisoarei, asa cum s-a spus mai sus, renumele de „Mica Viena” si de „Orasul parcurilor”.
                Printre cele mai cunoscute obiective turistice amintim Piata Victoriei, Piata Libertatii, Piata Unirii, Bastionul Maria Theresia, Muzeul satului banatean, Parcul rozelor.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://aerotim.ro/informatii-zboruri/sosiri/">Aeroportul Timisoara &raquo;</a>
                <a class="btn btn-success" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Timi%C8%99oara">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/Timisoara.jpg" data-lightbox="Timisoara"><img src="~/Content/Images/Timisoara.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/Timisoara02.jpg" data-lightbox="Timisoara02"><img src="~/Content/Images/Timisoara02.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/Timisoara03.jpg" data-lightbox="Timisoara03"><img src="~/Content/Images/Timisoara03.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: gainsboro; border-radius: 10px;">

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/Resita.jpg" data-lightbox="Resita"><img src="~/Content/Images/Resita.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/Resita2.jpg" data-lightbox="Resita2"><img src="~/Content/Images/Resita2.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/Resita3.jpg" data-lightbox="Resita3"><img src="~/Content/Images/Resita3.jpg" class="img-thumbnail" /></a>
            </div>
        </div>

        <div class="col-md-7">
            <h2>Resita</h2>
            <h4>Judetul Caras-Severin</h4>
            <br />
            <p>
                Ne aflam in Resita, orasul in care s-a scris istoria metalurgiei romanesti. Va invit sa mergem impreuna sa descoperim la pas atractiile turistice ale acestui oras.
            </p><p>
                Ce vizitam in Resita?
                Din punct de vedere turistic orasul pare o fantoma. Resita este un oras linistit, cu strazi bine intretinute, cladiri sinistre, putini oameni pe strazi si putine oportunitati de distractie. La o plimbare prin centrul orasului vei constata ca zona e pustie, localurile sunt deschise dar fara clienti, hoteluri si mai putine, iar strazile sunt fara masini in timpul serii. Acest oras mi-a adus aminte de Baile Herculane.
                Resita are nevoie de mari investitii in domeniul turismului. In prezent orasul poate atrage turisti doar prin intermediul peisajelor si a locurilor deosebite din imprejurimi. Deocamdata va invit la o plimbare de seara prin centrul orasului.
            </p>

            <p>
                Mai jos gasiti o lista cu cateva atractii pe care nu vreti sa le ratati daca sunteti in oras:
                <ul>
                    <li>
                        Muzeul Locomotivelor cu Abur. Muzeul este principala atractie turistica a orasului. Vizitatorii au ocazia sa vada singurul muzeu de locomotive cu abur din lume. Colectia cuprinde 16 locomotive cu abur si sunt expuse in aer liber. Nu exista taxa de intrare.
                    </li>
                    <li>
                        Muzeul Banatului Montan. Pentru a cunoaste adevarata istorie locala este importanta sa faceti o vizita la Muzeul Banatului Montan. Aici veti descoperi un patrimoniu impresionant de 76 mii de piese sau exponate din mai multe domenii de activitate: arta, arheologie, etnografie, numismatica, istorie industriala si mineralogie. Muzeul a fost fondat in anul 1957.
                    </li>
                    <li>
                        Palatul Cultural si statuia lui Ion Romanu. Palatul Cultural din Resita are o mare valoare arhitecturala in intreagaa zona a Banatului. Se spune ca este singura cladire cu influente brancovenesti din Caras-Severin. Aceasta bijuterie arhitectuala a fost construita in perioada anilor 1928 – 1929. In fata Palatului Cultural se afla statuia lui Ion Romanu, un important muzician al Banatului.
                    </li>
                    <li>
                        Raul Barzava. Foarte aproape de Palatul Cultural isi duce domol apele raul Barzava. Barzava este un rau ce izvoreste in Muntii Semenic si ajunge pana in Serbia, in zona provinciei Voivodina. De-a lungul timpului, raul Barzava a ajutat populatia cu transportul lemnelor pe apa si mult mai tarziu la producerea de energie electrica pentru uzinele din Resita. In prezent, raul reprezinta o frumoasa artera fluviala ce ofera peisaje spectaculoase atat ziua cat si seara.
                    </li>
                    <li>
                        Fantana cinetica. Este unul dintre simbolurile orasului. Fantana cinetica a fost construita in centrul orasului de sculptorul Constantin Lucaci. Ofera cu adevarat un spectacol de lumini in timpul serii, iar locul pare a fi un punct de atractie pentru locuitorii orasului. Fantana are o inaltime de 7 metri si a fost construita in anul 1984.

                    </li>
                    <li>
                        Sala polivalenta. Langa Fantana cinetica se afla Sala Polivalenta, o cladire cu o capacitate de aproximativ 1700 locuri. Vopsita in alb si albastru, cladirea poate fi numita desteptatorul orasului pentru ca are un ceas care anunta ora exacta.

                    </li>
                    <li>
                        Podul de la Vama. Nu departe de Sala polivalenta descoprim un pod amenajat cu flori. Este vorba despre Podul de la Vama amplasat peste raul Barzava. Se spune ca este cel mai vechi pod nituit si sudat din Romania. A fost construit in anul 1937 si a fost numit asa pentru ca facea legatura intre Resita Romana si Resita Montana. In prezent, acesta este un pod pietonal.

                    </li>
                    <li>
                        Funicularul. Deasupra Podului de la Vama vei observa un urias funicular. Acesta este nefunctionabil si la prima impresia ai zice ca parca sta sa cada. Ce frumoasa ar fi Resita daca ar amenaja acest funicular in scop turistic. Sa-l transforme intr-un pod pietonal, iar locuitorii si turistii se vor bucura din plin de panorama orasului.

                    </li>
                    <li>
                        Teatru de Stat Resita. Se afla pe strada Libertatii, langa parcul Carasana. Teatrul de Stat reprezinta o cladire de dimensiuni impresionante si as spune ca seamana cu un adevarat palat. De-a lungul timpului, in acest edificiu se organizau toate manifestarile culturale din Resita.

                    </li>
                </ul>
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Resita">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: antiquewhite; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Lugoj</h2>
            <h4>Judetul Timis</h4>
            <br />
            <p>
                Municipiul Lugoj este al doilea oras ca marime si importanta din judetul Timis, Banat, Romania. Unul dintre cele mai importante centre ale miscarii culturale din Transilvania si Banat, Lugojul este cunoscut pentru rolul important pe care l-a jucat in dezvoltarea invatamantului, in miscarea de eliberare sociala si nationala si consolidarea unitatii nationale a romanilor. Aici a avut loc in 1848 a doua Adunare nationala a romanilor din Banat. Astazi este un important centru cultural si renumit centru muzical.
                Lugojul a fost pe vremuri o asezare puternic fortificata, avand o importanta mai mare decat in prezent. Prima atestare documentara a cetatii Lugoj apare spre sfarsitul secolului al XIII-lea, intr-un document pastrat in arhivele din Budapesta, din care reiese ca regele Ungariei, Ladislau al IV-lea (1272 – 1290) a poposit cu armata sa la Lugoj.
                La 20 decembrie 1989, Lugojul a devenit al doilea oras liber de sub regimul comunist din Romania.
            </p><p>
                Cladirea Teatrului Municipal construita in 1835, Podul de Fier de peste Timis (1902), Piata Iosif Constantin Dragan sunt doar cateva dintre reperele cele mai vechi si importante in arhitectura orasului.
                Alte cladiri cu valoare reprezentativa sunt Biserica Romano-Catolica, construita intre 1733-1735, Catedrala Ortodoxa Adormirea Maicii Domnului (1759-1766), Vechea Primarie (1828), Prefectura (1859), Catedrala Greco-Catolica (1852). In Lugoj se afla si o seama de locuri demne de vazut si monumente istorice: Turnul fostei Biserici Sf. Nicolae (1726), busturile lui Coriolan Brediceanu, Ion Vidu, Traian Grozavescu (str. Brediceanu) si Monumentul Eroilor din primul Razboi Mondial (in Piata Iosif Constantin Dragan), opere apartinand sculptorului Radu Moga, Monumentul Generalului Ion Dragalina al sculptorului Spiridon Georgescu (pe strada Semenic), Obeliscul de pe Campia Libertatii, Statuia lui Eftimie Murgu.
                Aflandu-se in centrul Banatului, turistii pot face scurte excursii pe o raza de cateva zeci de kilometri. La aproximativ 25 km nord-est de Lugoj se afla lacul de la Surduc, o locatie potrivita pentru agrement, cat si pentru cei pasionati de pescuit. La 30 km spre vest se afla statiunea balneoclimaterica Buzias. La 45 km spre nord-est se afla Valea lui Liman, manastirea Romanesti si pestera cu acelasi nume, care beneficiaza de o acustica de exceptie si care gazduieste anual concerte simfonice.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Lugoj">Masina personala &raquo;</a>
            </p>
        </div>

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/Lugoj.jpg" data-lightbox="Lugoj"><img src="~/Content/Images/Lugoj.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/Lugoj2.jpg" data-lightbox="Lugoj2"><img src="~/Content/Images/Lugoj2.jpg" class="img-thumbnail" /></a>
            </div>
            @*<div style="padding: 7px">
                <img src="~/Content/Images/Lugoj3.jpg" class="img-thumbnail" />
            </div>*@
        </div>
    </div>
</div>