@{
    ViewBag.Title = "Recomandarile noastre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<br />

<!--Calling the Partial View for Google maps Recommendations-->
<div class="row" style="padding: 10px">
    @Html.Partial("_GoogleMapsRecommendations")
</div>

<br />

<div class="row">
    <div class="panel panel-body" style="background:lightpink; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Cascada Bigar</h2>
            <h4>Parcul National Cheile Nerei, Caras-Severin</h4>
            <br />
            <p>
                Cascada este formata pe tuf calcaros acoperit de muschi verde pufos. Are aspect tronconic, ca o cusma. Dar cea mai potrivita comparatie e aceia cu crestetul unei fete cu pletele ca in legenda.
                Apa vine din Izbucul Bigar. Izbuc este locul unde un curs de apa subteran iese la suprafata dupa ce a strabatut o pestera. Paraul Golumbu aflat in nord la cinci kilometri,
                intra printr-un sorb in subteran si iese la suprafata in Izbucul Bigar. Stanca Carsa Goznei are peste 50 de metri inaltime iar izbucul de doi metri diametru la baza are apa limpede in care inoata pastravii. Aici, la zece minute de mers, se afla Grota Bigar, iar in apropiere se gaseste pastravaria Minis.
            </p><p>
                Cascada are opt metri inaltime si se afla in Cheile Minisului din Banat. Cheile, prin cei 14 km lungime sunt pe locul trei in Romania, dupa Cheile Nerei si Carasului , aflate in apropiere. Cheile Minisului sunt strabatute de drumul asfaltat DN 57B.
                Cascada Bigar se afla in locul in care drumul se intersecteaza cu paralela 45, punct marcat printr-o borna. Este extrem de accesibila aflandu-se chiar in marginea drumului, la 17 km de Anina si la 12 km de Bozovici.
            </p><p>
                Legenda cascadei este neasemuita prin originalitatea ei.
                Se spune ca odata, demult, in vremuri de care numai pietrele reci si mute si muntii carunti  isi mai amintesc traia o familie de oameni harnici. Femeia, pe care sotul ei o iubea nespus, era de o frumusete rapitoare. Trecusera destui ani de cand erau impreuna insa erau nefericiti pentru ca isi doreau mult un copil. Traiau in munti cu dorul lor nestins. Dar intr-o zi viata lor avea sa se schimbe. O batrana vrajitoare i-a spus femeii ca daca va bea apa din izbucul de la grota va ramane grea. Exista insa o conditie. Daca va fi fata, ea nu trebuia sa se indragosteasca pentru ca acest lucru ii putea aduce moartea.
                in sfarsit, la soroc, femeia a nascut o fetita de toata frumusetea. Visul celor doi se implinise. Fetita crestea si in fiecare zi se facea tot mai frumoasa. Parul ei era ca matasea porumbului, iar ochii ca doua lacuri de munte in care se topise cerul. Toti flacaii o ravneau, frumusetea ei ii incanta dar ea trecea mai departe vesela si nepasatoare pana intr-o zi cand l-a intalnit pe Bigar, flacau mandru cu ochii ca de foc. Inima ei s-a topit pe data. Se intalneau doua suflete pline de iubire, de dorinti, de frumusete, doua universuri a caror contopire puteau sa dea iubirii stralucirea unei stele.
                Tatal fetei a simtit insa pericolul si a inchis-o in grota, pentru a o proteja. Dar destinul isi urma cursul. Fata iubea, iubea nespus si strigatele ei de durere si disperare au fost auzite de vrajitoarea care locuia pe celalalt taram. Ea veni la fata si ii spuse: tot ce mai pot sa fac pentru tine este sa iti transform parul intr-o cascada pe care vor curge lacrimile tale.
                Iubitul sau Bigar, veni atras de glasul fetei si... Se ineca in lacrimile iubitei sale. Dupa ce dragostea le-a fost pusa la incercare, cei doi au ajuns pe Taramul Regasit al Dorului, unde se iubesc vesnic. Frumoasa poveste ne aminteste ca iubirea nu poate fi invinsa nici de moarte. Oamenii locului povestesc cu farmec legenda, splendoarea cascadei inspirandu-i.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Cascada+Bigar,+DN57B">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/bigar.jpg" data-lightbox="bigar"><img src="~/Content/Images/bigar.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/bigar3.jpg" data-lightbox="bigar3"><img src="~/Content/Images/bigar3.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/bigar4.jpg" data-lightbox="bigar4"><img src="~/Content/Images/bigar4.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: lightgreen; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Domeniul Herneacova</h2>
            <h4>Herneacova, Timis</h4>
            <br />
            <p>
                Cea mai recenta investitie de pe Domeniul Herneacova (la 40 de kilometri de Timisoara si zece kilometri de Recas) este Parcul de Aventura. Cele doua trasee pleaca de la o inaltime de cinci metri si in punctele cele mai inalte ajunge pana la 20 de metri.
                S-au montat si doua tiroliene cu o lungime de 240 respectiv 260 de metri, care traverseaza, dus – intors, Domeniul Herneacova. Aventura Park se adreseaza atat copiilor cat si adultilor.
            </p><p>
                Investitia a costat 250.000 de euro, insa cei de la Herneacova sustin ca e doar prima faza a proiectului, urmand ca anul viitor sa se extinda parcul de aventura,  astfel incat sa devina cel mai mare parc de aventura din Romania.
            </p><p>
                “Domeniul Herneacova este astazi o locatie perfecta pentru cei carora le place sa viseze cu ochii deschisi, vor sa se rupa de stresul cotidian al orasului si sa petreaca cateva ore in mijlocul naturii. Proiectele noastre de agrement,
                divertisment si sport continua cu infiintarea unei academi de tenis de camp, constructia unei pensiuni, spatii rustice pentru relaxare si servirea mesei in mijlocul naturii”, spun initiatorii proiectului. Herneacova are toate caracteristicile
                unei atractii turistice veritabile. O istorie bogata si tumultoasa, o arhitectura rustica spectaculoasa si o ambianta naturala unica.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Domeniul+Herneacova,+Herneacova">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/herneacova.jpg" data-lightbox="herneacova"><img src="~/Content/Images/herneacova.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/herneacova2.jpg" data-lightbox="herneacova2"><img src="~/Content/Images/herneacova2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background:bisque; border-radius: 10px;">

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/valiug-iarna.jpg" data-lightbox="valiug-iarna"><img src="~/Content/Images/valiug-iarna.jpg" class="img-thumbnail" /></a>
            </div>
        </div>

        <div class="col-md-7">
            <h2>Ponton Casa Baraj</h2>
            <h4>Valiug, Caras-Severin</h4>
            <br />
            <p>
                Iarna, sporturile de zapada sunt principala atractie, iar partia de la Valiug se bucura de una dintre cele mai moderne instalatii de ski din tara.
            </p><p>
                N-am apucat sa o testam, dar cei care se aflau pe partie pareau sa se simta foarte bine. Pretul unui ski-pass pentru intreaga zi, in timpul saptamanii, este de 40 de lei pentru adulti, 25 de lei pentru adolescenti, iar copiii de pana la 7 ani au acces gratuit.
                in weekend este un pic mai scump: adultii platesc 70 de lei, iar adolecentii 40. In sezonul rece, partia este deschisa in fiecare zi intre 9.00 si 17.00, iar pe nocturna in intervalul 18.00 – 22.00.
                Se ajunge foarte usor cu masina, iar la baza partiei se afla barul Apres Ski unde te poti incalzi cu un vin fiert sau o ciocolata calda. Seara, aici se dau  cele mai tari petreceri de la munte pe timp de iarna, asa ca daca tot ajungi aici e pacat sa nu iei parte la distractie.
            </p><p>
                Dar nu ti-am spus cum ajungi aici, si nu pentru ca am uitat, ci pentru ca traseul in sine este o atractie turistica. Pentru ca noi am petrecut ceva timp prin Caransebes ne-a fost mult mai usor sa venim pe E70, iar apoi am facut dreapta spre comuna Slatina-Timis, pe DJ582, care este de fapt Transsemenic-ul.
                Cei aproape 40 km de serpentine, aer tare de munte si peisaje superbe, fac ca drumul ce strabate muntele Semenic sa rivalizeze cu mult mai cunoscutele Transfagarasan sau Transalpina, astfel ca, pana ajungi in Valiug te poti bucura din plin de frumusetile Banatului montan.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Ponton+Casa+Baraj,+Valiug">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background:powderblue; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Scart Loc Lejer</h2>
            <h4>Pub/Bar, Timisoara</h4>
            <br />
            <p>
                Casa de pe strada Laszlo Szekely nr. 1 este o institutie neoficiala a culturii underground care gazduieste birtul Scart Loc Lejer in care se asculta de pe vinyl de la metale & jazz pana la lautareasca & povesti,
                se bea cu spor & se mananca romaneste, un anticariat de unde se pot cumpara carti, viniluri, instrumente muzicale, jucarii vechi & tot soiul de nimicuri.
            </p>
            <p>
                De asemenea este locul unde se desfasoara activitatea trupei AUaLEU, care joaca in fiecare sfarsit de saptamana (exceptie atunci cand e in tour),
                activitatea Casei de Productie Muzicala SMANES care scoate viniluri live cu trupe romanesti & nu in ultimul rand Muzeul Consumatorului Comunist din subsol unde vizitatorii pot vedea, studia, pipai & mirosi,artefactele epocii de aur dispuse intr-un apartament "ca pe vremuri".
                Cu alte cuvinte, nu ai motive sa nu treci pe aici.
            </p>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/scart.jpg" data-lightbox="scart"><img src="~/Content/Images/scart.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/scart2.jpg" data-lightbox="scart2"><img src="~/Content/Images/scart2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/scart3.jpg" data-lightbox="scart3"><img src="~/Content/Images/scart3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br />
        <div>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Scart+Loc+Lejer,+Strada+Arhitect+Laszlo+Szekely,+Timisoara">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: gainsboro; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Timisoara</h2>
            <h4>Judetul Timis</h4>
            <br />
            <p>
                Timisoara este situata in sud-estul Campiei Panonice (respectiv in sudul Campiei de Vest), in zona de divagare a raurilor Timis si Bega.
                Timisoara, in traducere: „cetatea de pe Timis” este resedinta si cel mai mare oras al judetului Timis din regiunea istorica Banat, vestul Romaniei.
                Numele localitatii vine de la raul Timis (trecand la sud de municipiu), numit de romani in antichitate Tibisis sau Tibiscus.
            </p>
            <p>
                Prima atestare documentara a localitatii Timisoara este destul de controversata, aceasta fiind plasata de specialisti in 1212 sau in 1266. In 1175 este mentionat comitatul Timis, dar sursele nu mentioneaza care este centrul economic si administrativ al acestuia.
                in momentul atestarii sale acesta facea parte din comitatul Timis, o unitate administrativ teritoriala a regatului ungar. Teritoriul cunoscut mai tarziu ca Banat cu centrul administrativ in „Urbis Morisena” (apoi Cenad), fusese cucerit de catre maghiari in jurul anului 1030 si incorporat in regatul ungar.
            </p>
            <p>
                Fiind asezata intr-un punct strategic, de unde putea fi controlata o mare parte a Campiei Banatului, atat Timisoara cat si functia de comite de Timis au devenit din ce in ce mai importante. Timisoara a primit un impuls deosebit in timpul domniei regelui Carol Robert de Anjou, care in urma vizitei sale din 1307 a ordonat construirea aici a unui palat regal. In timpul anarhiei feudale, acesta va muta capitala Ungariei la Timisoara. Numirea lui Iancu de Hunedoara in functia de comite de Timis, in 1440 marcheaza un capitol aparte din istoria Timisoarei.
                Iancu de Hunedoara a fost cunoscut in intreaga regiune pentru reputata victorie de la Belgrad asupra otomanilor, fiind considerat in acea vreme aparator al crestinatatii. El a transformat orasul intr-o tabara militara permanenta si in domiciliul sau, dupa ce s-a mutat aici impreuna cu familia.
                Astfel, cetatea va ramane in posesia Corvinestilor pana in 1490.
                Pe 20 decembrie 1989, Timisoara a fost declarata primul oras din Romania liber de comunism.
            </p>
            <p>

                Timisoara este un oras multicultural, influentat de diversele comunitati etnice, in special de cea germana, maghiara si sarba, dar si de cele bulgara, italiana si greaca. Mostenirea culturala si diversitatea ofertei culturale sunt punctele forte ale orasului.
                Cu cele peste 12 institutii culturale profesioniste, Timisoara este, dupa Bucuresti si Iasi, al treilea pol cultural din tara din punct de vedere al marimii si diversitatii ofertei culturale. O mare traditie o are teatrul timisorean, care prin cele trei teatre de stat, (in premiera in Europa): Teatrul National, / Teatrul German si Teatrul Maghiar, ofera spectacole in limbile romana, germana si maghiara. Cele trei institutii impart aceeasi cladire-simbol cu Opera Romana.
                Din punct de vedere turistic Timisoara detine cel mai amplu ansamblu de cladiri istorice din Romania, constituit din ansamblurile urbane ale cartierelor Cetate, Iosefin si Fabric. Arhitectura variata, influentele barocului Vienez si multitudinea de parcuri au adus Timisoarei, asa cum s-a spus mai sus, renumele de „Mica Viena” si de „Orasul parcurilor”.
                Printre cele mai cunoscute obiective turistice amintim Piata Victoriei, Piata Libertatii, Piata Unirii, Bastionul Maria Theresia, Muzeul satului banatean, Parcul rozelor.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://aerotim.ro/informatii-zboruri/sosiri/">Aeroportul Timisoara &raquo;</a>
                <a class="btn btn-success" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Timi%C8%99oara">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/Timisoara.jpg" data-lightbox="Timisoarar"><img src="~/Content/Images/Timisoara.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/Timisoara02.jpg" data-lightbox="Timisoara02r"><img src="~/Content/Images/Timisoara02.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/Timisoara03.jpg" data-lightbox="Timisoara03r"><img src="~/Content/Images/Timisoara03.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: lightsalmon; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Hotel J'adore Boutique</h2>
            <h4>Lugoj, Timis</h4>
            <br />
            <p>
                J'adore Boutique Hotel se afla in Lugoj si are restaurant, bar, gradina si piscina sezoniera in aer liber. Acest hotel de 3 stele pune la dispozitie WiFi gratuit, room-service si receptie deschisa non-stop.
                Parcarea privata este disponibila la un cost suplimentar.
            </p><p>
                Toate camerele hotelului au TV cu ecran plat. Toate camerele de la J'adore Boutique Hotel ofera aer conditionat si baie privata.
                Oaspetii unitatii de cazare au la dispozitie un mic dejun continental.
            </p><p>
                J'adore Boutique Hotel ofera o terasa.
                Cel mai apropiat aeroport este Aeroportul International Traian Vuia Timisoara, situat la 67 km de hotel.
                Cuplurile apreciaza in mod deosebit aceasta locatie. I-au dat scorul 8,6 pentru un sejur pentru 2 persoane.

            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/jadore-lugoj.jpg" data-lightbox="jadore-lugoj"><img src="~/Content/Images/jadore-lugoj.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/jadore-lugoj2.jpg" data-lightbox="jadore-lugoj2"><img src="~/Content/Images/jadore-lugoj2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/jadore-lugoj3.jpg" data-lightbox="jadore-lugoj3"><img src="~/Content/Images/jadore-lugoj3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br />
        <div>
            <p>
                <a class="btn btn-success" href="https://www.facebook.com/jadoreboutiquehotel/">Website &raquo;</a>
                <a class="btn btn-primary" href="https://www.booking.com/hotel/ro/j-39-adore-boutique.en-gb.html">Booking.com &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Jadore+Restaurant,+Lugoj">Localizare Google Maps &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: lightcyan; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Gradina Zoologica Ioan Crisan</h2>
            <h4>Resita, Caras-Severin</h4>
            <br />
            <p>
                Gradina zoologica ”Ioan Crisan” Resita, construita in anul 1965, modernizata in anul 2013, cu o suprafata de 5,6 hectare, va intampina cu exemplare unice si rare.
            </p><p>
                Ioan Crisan, al carui nume il poarta gradina zoologica din Resita, a fost profesor de biologie la Bastilia (actualul liceu „Diaconovici-Tietz”). Prin anii ’60 ai secolului trecut, pe vremea cand era director al liceului,
                acesta a infiintat in curtea institutiei o minigradina zoologica, a carei vedeta necontestata era un urs. Acesta a fost inceputul, marturie a dragostei profesorului pentru natura vie, pentru cunoasterea ei de catre elevi.
                Mai tarziu animalele au fost transferate in parcul orasului, numarul lor crescand permanent.
            </p><p>
                in prezent Gradina Zoologica este cea mai mare din vestul tarii si aici se regasesc animale precum: zimbri, jaguar, puma, emu, lama, mara, sconcs si cerb lopatar.
                De asemenea, Gradina Zoologica „prof. Ion Crisan” din Resita beneficiaza de constructii noi precum: o cladire educationala, destinata elevilor,
                pentru desfasurarea orelor de biologie sau a altor activitati, un punct veterinar modern, o cladire-carantina, o bucatarie, un fanar, o magazie multifunctionala precum si un magazin de suveniruri.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/place/Gradina+Zoologica+Ion+Crisan,+Strada+Parcului,+Resita">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/zoo-resita4.jpg" data-lightbox="zoo-resita4"><img src="~/Content/Images/zoo-resita4.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/zoo-resita3.jpg" data-lightbox="zoo-resita3"><img src="~/Content/Images/zoo-resita3.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: lightskyblue; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Pensiunea Nerahouse</h2>
            <h4>Ilidia, Caras-Severin</h4>
            <br />
            <p>
                Situata in Ilidia, in judetul Caras-Severin, Nerahouse ofera cazare cu WiFi gratuit si parcare privata gratuita.
                Baia privata are dus si articole de toaleta gratuite.
                Aceasta pensiune agroturistica pune la dispozitie o terasa la soare si gratar.
                Rezervatia naturala Cheile Nerei care se afla in apropiere.
            </p><p>
                Proprietatea este situata intr-un loc de poveste, intr-un sat incarcat de istorie la poalele muntilor Aninei. In acest colt al Banatului montan, timpul se opreste in loc,
                iar influenta austriaca inca isi face simtita prezenta. Pensiunea are o bucatarie utilata complet, iar camerele sunt dotate cu tot ce este nevoie pentru un sejur autentic.

            </p>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/nerahouse-ilidia.jpg" data-lightbox="nerahouse-ilidia"><img src="~/Content/Images/nerahouse-ilidia.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/nerahouse-ilidia2.jpg" data-lightbox="nerahouse-ilidia2"><img src="~/Content/Images/nerahouse-ilidia2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/nerahouse-ilidia3.jpg" data-lightbox="nerahouse-ilidia3"><img src="~/Content/Images/nerahouse-ilidia3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br />
        <div>
            <p>
                <a class="btn btn-success" href="https://www.facebook.com/pensiuneanerahouse/">Website &raquo;</a>
                <a class="btn btn-primary" href="https://www.booking.com/hotel/ro/nerahouse.ro.html">Booking.com &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Pensiunea+Nera+House,+Ilidia">Localizare Google Maps &raquo;</a>
            </p>
        </div>
    </div>
</div>

