
@{
    ViewBag.Title = "Relaxare_spa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Relaxare si SPA</h2>
<h4>@ViewBag.Message</h4>

<br />

<div class="row">
    <div class="panel panel-body" style="background: darkseagreen; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Spa Ice Resort</h2>
            <h4>Timisoara, Timis</h4>
            <br />
            <p>
                Zona de spa este una dintre cele mai frumoase pe care le-am vazut la noi in tara, pe partea de vest. Facilitatile sunt oferite gratuit clientilor hotelului, cu exceptia masajului - care necesita costuri si programare prealabila.
            </p><p>
                Pot intra si persoane din exterior, pe baza de abonament sau sedinte separate. Intinsa pe o suprafata mare, zona de relaxare se imparte in trei:
                <ul>
                    <li>o parte exterioara cu piscina, sezlonguri, balansoare;</li>

                    <li>o parte interioara cu 4 tipuri de sauna (umeda, uscata, finlandeza si salina), sezlonguri pentru relaxare si aromaterapie, dusuri, vestiare, dulapuri pentru obiecte personale, zona de masaj, masa de ping-pong si o sala cu aparate de fitness;</li>

                    <li>o parte exterioara - un spatiu verde cu sezlonguri, umbrele, jacuzzi, balansoare.</li>
                </ul>
                Totul pe plus, totul la superlativ!
            </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/spaiceresorttm.jpg" data-lightbox="spaiceresorttm"><img src="~/Content/Images/spaiceresorttm.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/spaiceresorttm2.jpeg" data-lightbox="spaiceresorttm2"><img src="~/Content/Images/spaiceresorttm2.jpeg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/spaiceresorttm3.jpg" data-lightbox="spaiceresorttm3"><img src="~/Content/Images/spaiceresorttm3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br />
        <div>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Spa+Ice+Resort,+Calea+Lugojului+27,+Timisoara+300305">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background:gainsboro; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Afrodita Resort and Spa</h2>
            <h4>Herculane, Caras-Severin</h4>
            <br />
            <p>
                Afrodita Resort & Spa este un loc plin de viata si in continua miscare. Fiecare sezon aduce facilitati noi si, totodata, noi pasi spre dezvoltare.
                Ne dorim sa devenim din ce in ce mai buni si sa ne asiguram ca gasiti in resortul nostru tot ceea ce va doriti, fie ca este vorba de tratament intr-o baza moderna, rasfat spa, relaxare sau divertisment,
                centru de conferinta, sau momente de nepretuite in unul din cele mai frumoase peisaje montane ale tarii.
            </p><p>
                Hotelul Afrodita din Bile Herculane are 220 de camere cu vedere spre munte si spre oras, distribuite pe 10 nivele. Toate camerele de la Afrodita Resort & SPA sunt dotate cu TV, WiFi gratuit si baie privata cu dus.
            </p><p>
                Centrul Welness & SPA va ofer posibilitatea de a evada din stresul vietii moderne si de a intra intr-o oaz de calm si pace , unde tot ceea ce conteaza este persoana dumneavoastra. Atmosfera, tratamentele si
                efectele curative ale naturii va vor face sa va simtiti renscut.
            </p>

        </div>

        <div class="row">
            @*<div class="col-md-3">
                    <div style="padding: 7px">
                        <img src="~/Content/Images/afrodita.jpg" class="img-thumbnail" />
                    </div>
                </div>*@
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/afrodita2.jpg" data-lightbox="afrodita2"><img src="~/Content/Images/afrodita2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/afrodita4.jpg" data-lightbox="afrodita4"><img src="~/Content/Images/afrodita4.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/afrodita3.jpg" data-lightbox="afrodita3"><img src="~/Content/Images/afrodita3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br />
        <div>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Afrodita+Resort+%26+Spa,+Strada+Complexelor,+Baile+Herculane">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background:gainsboro; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>Scart Loc Lejer</h2>
            <h4>Pub/Bar, Timisoara</h4>
            <br />
            <p>
                Casa de pe strada Laszlo Szekely nr. 1 este o institutie neoficiala a culturii underground care gazduieste birtul Scart Loc Lejer in care se asculta de pe vinyl de la metale & jazz pana la lautareasca & povesti,
                se bea cu spor & se mananca romaneste, un anticariat de unde se pot cumpara carti, viniluri, instrumente muzicale, jucarii vechi & tot soiul de nimicuri.
            </p>
            <p>
                De asemenea este locul unde se desfasoara activitatea trupei AUaLEU, care joaca in fiecare sfarsit de saptamana (exceptie atunci cand e in tour),
                activitatea Casei de Productie Muzicala SMANES care scoate viniluri live cu trupe romanesti & nu in ultimul rand Muzeul Consumatorului Comunist din subsol unde vizitatorii pot vedea, studia, pipai & mirosi,artefactele epocii de aur dispuse intr-un apartament "ca pe vremuri".
                Cu alte cuvinte, nu ai motive sa nu treci pe aici.
            </p>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/scart.jpg" data-lightbox="scart"><img src="~/Content/Images/scart.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/scart2.jpg" data-lightbox="scart2"><img src="~/Content/Images/scart2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/scart3.jpg" data-lightbox="scart3"><img src="~/Content/Images/scart3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br />
        <div>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Scart+Loc+Lejer,+Strada+Arhitect+Laszlo+Szekely,+Timisoara">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background:gainsboro; border-radius: 10px;">
        <div class="row" style="padding: 20px; padding-top: 1px">
            <h2>The Irish PUBlic House</h2>
            <h4>Pub/Restaurant, Timisoara</h4>
            <br />
            <p>
                Pub-ul este parlamentul oamenilor (Oscar Wilde).
            </p><p>
                Termenul "public house"se refera la un loc de adunare, de socializare a oamenilor. Savurand o bautura fina, sau gustand din preparatele bucatariei traditionale irlanedze, puteti depana aici amintiri,
                puteti discuta intamplari recente, evenimente cotidiene, ascultand muzica de cea mai buna calitate. Noi ne straduim sa reproducem pentru dumneavoastra intreaga atmosfera prietenoasa, exuberanta
                a "Pub"-urilor traditionale din Irlanda. Veniti sa incercati atmosfera Irlandei aproape de caminul dumneavoastra!
            </p><p>
                Suntem situati intr-o locatie foarte convenabila, in centrul Timisoarei, la un minut distanta de Piata Unirii. The place where u meet your fiends. Good music and great food.
            </p>

        </div>

        <div class="row">
            @*<div class="col-md-3">
                    <div style="padding: 7px">
                        <img src="~/Content/Images/afrodita.jpg" class="img-thumbnail" />
                    </div>
                </div>*@
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/irishtm.jpg" data-lightbox="irishtm"><img src="~/Content/Images/irishtm.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/irishtm3.jpg" data-lightbox="irishtm3"><img src="~/Content/Images/irishtm3.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding: 7px">
                    <a href="~/Content/Images/irishtm2.jpg" data-lightbox="irishtm2"><img src="~/Content/Images/irishtm2.jpg" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
        <br />
        <div>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Irish+Public+House,+Strada+General+Traian+Doda,+Timisoara">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>
