
@{
    ViewBag.Title = "Restaurante_traditionale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restaurante traditionale</h2>
<h4>@ViewBag.Message</h4>

<br />
<div class="row">
    <div class="panel panel-body" style="background: powderblue; border-radius: 10px;">

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/casa-banateana.jpg" data-lightbox="casa-banateana"><img src="~/Content/Images/casa-banateana.jpg" class="img-thumbnail" /></a>
            </div>
            <!--<div style="padding: 7px">
                <img src="~/Content/Images/Timisoara02.jpg" class="img-thumbnail"/>
            </div>-->
        </div>

        <div class="col-md-7">
            <h2>Restaurantul Casa Banateana</h2>
            <h4>Resita, Caras-Severin</h4>
            <br />
            <p>
                Restaurantul Casa Banateana, situat pe strada Minda Nr. 30, la iesirea din Resita spre Valiug, s-a nascut din dorinta de a le oferi resitenilor un loc de bun gust, cu mancare traditionala romaneasca, plina de savoare si arome.
            </p><p>
                Casa Banateana este restaurantul in care bucataria traditionala romaneasca se completeaza perfect cu bucataria internationala, intr-un decor ce ofera confort si rafinament. Intim si elegant in acelasi timp, restaurantul Casa Banateana
                are o capacitate de 160 de locuri si este singurul din oras in care pizza se face pe vatra, in cuptorul cu lemne. E suficient sa calcati pragul Casei Banatene o singura data pentru a deveni client fidel.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Casa+Banateana,+Strada+Minda+30,+Resita">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: gainsboro; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Restaurantul Casa Bunicii</h2>
            <h4>Timisoara, Timis</h4>
            <br />
            <p>
                Casa Bunicii este dedicat indeosebi familiilor cu copii carora le oferim numeroase facilitati ce transforma o iesire la restaurant cu copiii dintr-o problema intr-o placere.
            </p><p>
                "Fiindca mare parte din copilarie mi-am petrecut-o la bunica mea din Jebel meniul nu putea fi decat unul banatean. Cu toate ca este destul de dificil sa faci sa semene mancarea
                de la restaurant cu cea de acasa efortul nostru a fost indreptat inca de la inceput in aceasta directie. Atunci cand am compus meniul am lucrat impreuna cu bunica mea in varsta de
                89 de ani si mama mea, pe post de consultanti. Astfel ca vechile retete care mi-au incantat copilaria sunt acum stranse in meniul Casei Bunicii."
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Casa+Bunicii+1+Timisoara,+Strada+Maresal+Alexandru+Averescu,+Timisoara">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/casa-bunicii.jpg" data-lightbox="casa-bunicii"><img src="~/Content/Images/casa-bunicii.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: antiquewhite; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Restaurantul Pescarusul</h2>
            <h4>Lugoj, Timis</h4>
            <br />
            <p>
                Restaurantul Pescarusul din Lugoj va asteapta intr-un cadru decent, cu o servire ireprosabila si o atmosfera care sa atraga lugojenii, dornici de a-si petrece clipe minunate intr-un local aflat in mijlocul naturii.
            </p><p>
                Localul are ca specific gastronomic mancarea traditionala ungureasca: gulas de vita in paine, rulada á la Szeged (carne de porc, sunca afumata, cascaval si ceapa), ciorba de peste ungureasca, papanasi.
                Pofta buna va fi intretinuta in fiecare weekend de vineri pana duminica de muzica populara banateana interpretata de indragiti solisti.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Pescarusul,+Langa,+Lugoj">Masina personala &raquo;</a>
            </p>
        </div>

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/pescarusul.jpg" data-lightbox="pescarusul"><img src="~/Content/Images/pescarusul.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>
