
@{
    ViewBag.Title = "Shopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping</h2>
<h4>@ViewBag.Message</h4>

<br />

<div class="row">
    <div class="panel panel-body" style="background: gainsboro; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Iulius Town</h2>
            <h4>Timisoara, Timis</h4>
            <br />
            <p>
                Iulius Town va fi orasul din centrul Timisoarei, un proiect de regenerare urbana gandit pentru a coagula comunitatea si a-i aduce laolalta pe timisoreni, pe locuitorii din regiune, dar si pe cei din tarile limitrofe, indiferent daca vin la birou, la cumparaturi,
                sa faca sport sau sa se relaxeze. Ansamblul Iulius Town include: 120.000 mp de retail, 450 de magazine, noi branduri, un nou concept de cinema, cel mai mare centru de sanatate si fitness din Romania, trei sali de evenimente,
                restaurante si cafenele tematice, 100.000 mp de spatii office, un tunel auto si 4.070 de locuri de parcare.
            </p>
            <p>
                Iulius Town include si un parc superb, care ofera un adevarat spectacol al naturii indiferent de anotimp.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Iulius+Town,+Piata+Consiliul+Europei,+Timisoara">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/iulius-town.jpg" data-lightbox="iulius-town"><img src="~/Content/Images/iulius-town.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/iulius-town2.jpg" data-lightbox="iulius-town2"><img src="~/Content/Images/iulius-town2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: powderblue; border-radius: 10px;">

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/shopping-city-timisoara.jpg" data-lightbox="shopping-city-timisoara"><img src="~/Content/Images/shopping-city-timisoara.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/shopping-city-timisoara2.jpg" data-lightbox="shopping-city-timisoara2"><img src="~/Content/Images/shopping-city-timisoara2.jpg" class="img-thumbnail" /></a>
            </div>
           
        </div>

        <div class="col-md-7">
            <h2>Shopping City</h2>
            <h4>Timisoara, Timis</h4>
            <br />
            <p>
                Shopping City Timisoara este un centru comercial de mari dimensiuni din Timisoara detinut de NEPI Rockcastle, deschis in 26 Noiembrie 2015, in urma unei investitii de 84 de milioane de euro.
                Este al doilea mall inaugurat in oras, dupa Iulius Town. Shopping City Timisoara are o suprafata inchiriabila de 70.000 m², cuprinzand 110 magazine desfasurate pe doua niveluri, 2.700 de locuri de parcare terane si supraterane si rasteluri pentru biciclete.
            </p>
            <p>
                Centrul comercial dispune de un hypermarket Carrefour de 10.000 m², un magazin de bricolaj Dedeman de 16.000 m², cel mai mare cinematograf Cinema City din afara Bucurestiului, cu 13 sali 3D dintre care o sala IMAX cu cel mai mare ecran din Romania si o sala 4DX, food court cu 20 de operatori, 6 agentii bancare, sala de fitness Smartfit cu piscina semi-olimpica, clubul de biliard si bowling Seven&Play Again si cazinoul Jack Slots, locul de joaca pentru copii Fun Planet, zone de lounge, restaurante, terase, cafenele, baruri, precum si targuri, evenimente interactive si expozitii.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Shopping+City+Timisoara,+Calea+sagului,+Timisoara">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: antiquewhite; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Nera Shopping Center</h2>
            <h4>Resita, Caras-Severin</h4>
            <br />
            <p>
                Amplasament - situat in centrul civic, comercial, bancar, cultural, al municipiului Resita.
                Constructie moderna, formata din subsol, parter si doua nivele, ofera spre inchiriere o suprafata de peste 4500 mp si dispune de parcari, zone verzi, spatii de joaca pentru copii.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Nera+Shopping+Center,+Piata+1+Decembrie+1918,+Resita">Masina personala &raquo;</a>
            </p>
        </div>

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/nera-shc.jpg" data-lightbox="nera-shc"><img src="~/Content/Images/nera-shc.jpg" class="img-thumbnail" /></a>
            </div>

        </div>
    </div>
</div>