
@{
    ViewBag.Title = "Sporturi_activitati";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sporturi si activitati</h2>
<h4>@ViewBag.Message</h4>

<br />

<div class="row">
    <div class="panel panel-body" style="background: antiquewhite; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Domeniul Herneacova</h2>
            <h4>Herneacova, Timis</h4>
            <br />
            <p>
                Cea mai recenta investitie de pe Domeniul Herneacova (la 40 de kilometri de Timisoara si zece kilometri de Recas) este Parcul de Aventura. Cele doua trasee pleaca de la o inaltime de cinci metri si in punctele cele mai inalte ajunge pana la 20 de metri.
                S-au montat si doua tiroliene cu o lungime de 240 respectiv 260 de metri, care traverseaza, dus – intors, Domeniul Herneacova. Aventura Park se adreseaza atat copiilor cat si adultilor.
            </p><p>
                Investitia a costat 250.000 de euro, insa cei de la Herneacova sustin ca e doar prima faza a proiectului, urmand ca anul viitor sa se extinda parcul de aventura,  astfel incat sa devina cel mai mare parc de aventura din Romania.
            </p><p>
                “Domeniul Herneacova este astazi o locatie perfecta pentru cei carora le place sa viseze cu ochii deschisi, vor sa se rupa de stresul cotidian al orasului si sa petreaca cateva ore in mijlocul naturii. Proiectele noastre de agrement,
                divertisment si sport continua cu infiintarea unei academi de tenis de camp, constructia unei pensiuni, spatii rustice pentru relaxare si servirea mesei in mijlocul naturii”, spun initiatorii proiectului. Herneacova are toate caracteristicile
                unei atractii turistice veritabile. O istorie bogata si tumultoasa, o arhitectura rustica spectaculoasa si o ambianta naturala unica.
            </p>
            <br/>
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Domeniul+Herneacova,+Herneacova">Masina personala &raquo;</a>
            </p>
        </div>


        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/herneacova.jpg" data-lightbox="herneacova"><img src="~/Content/Images/herneacova.jpg" class="img-thumbnail" /></a>
            </div>
            <div style="padding: 7px">
                <a href="~/Content/Images/herneacova2.jpg" data-lightbox="herneacova2"><img src="~/Content/Images/herneacova2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: powderblue; border-radius: 10px;">

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/paintball.jpg" data-lightbox="paintball"><img src="~/Content/Images/paintball.jpg" class="img-thumbnail" /></a>
            </div>
            <!--<div style="padding: 7px">
                <img src="~/Content/Images/Timisoara02.jpg" class="img-thumbnail"/>
            </div>-->
        </div>

        <div class="col-md-7">
            <h2>Arena Paintball</h2>
            <h4>Timisoara, Timis</h4>
            <br />
            <p>
                Paintball-ul este un sport de echipa care a castigat multi adepti in intreaga lume. Pe langa faptul ca ofera o doza de adrenalina, paintball-ul stimuleaza spiritul de competitie.
                Posibilitatea de a face miscare si de a dezvolta relatii de echipa cu prieteni, colegi sau necunoscuti este un alt atu al paintball-ului.
            </p><p>
                Este un sport sigur, daca sunt respectate regulile de siguranta.
                Arena Paintball Timisoara va ofera cele mai bune preturi din oras, incepand de la 0.15 lei/bila, si doua locatii care beneficiaza atat de obstacole naturale, cat si de obstacole amenajate.
                Paintball-ul este un sport ideal pentru evenimente ca: teambuilding, petreceri, aniversari.
                Iti asiguram echipament de protectie de calitate, scenarii pregatite special pentru echipa ta pentru maxima distractie si un CD/DVD cu poze si filmari HD din timpul jocului, sa poti arata prietenilor ce ai facut in weekend.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Arena+Paintball+Timisoara,+Bulevardul+Aviatiei,+Giroc">Masina personala &raquo;</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="panel panel-body" style="background: gainsboro; border-radius: 10px;">
        <div class="col-md-7">
            <h2>Laser tag</h2>
            <h4>Timisoara, Timis</h4>
            <br />
            <p>
                Laser tagul este un joc high-tech indoor, de lupta virtuala, complet nedureros, dar extrem de antrenant si incitant, accesibil tuturor, de la 6 - 60 ani.
                Foloseste un super echipament NEXUS PRO cu led-uri ultraluminoase in 8 culori ce cantareste doar 1,8 kg.
            </p><p>
                Cum se joaca? Megazone Timisoara dispune de 20 de echipamente de ultima generatie NEXUS PRO; acestea, compuse din vesta si arma, reprezinta cel mai bine vandut produs din industrie din 2006
                pana in prezent si deservesc pana la 5 echipe. Jucatorii sunt condusi in VESTING ROOM,
                au parte de un instructaj rapid din partea personalului, se echipeaza si incep " vanatoarea".
                Un joc dureaza 20 de minute, timp in care 600 mp de arena multilevel sta la dispozitia "combatantilor". Arena dispune de 2 baze, dar si de 2 mine care trag aleatoriu in jucatori,
                facand astfel jocul mult mai incitant. Exista, de asemenea, 2 energizere, unde iti poti incarca vietile si munitia.
            </p><p>
                Software-ul de monitorizare de pe veste inregistreaza activitatea jucatorilor (adica cine pe cine a tintit si de cate ori) si emite cu acuratete, la finalul jocului,
                o fisa de scor in timp real, datorita celui mai avansat sistem radio din industrie.
            </p>
            <br />
            <p>
                <a class="btn btn-primary" href="https://bilete.cfrcalatori.ro/ro-RO/Itineraries">Mersul trenurilor &raquo;</a>
                <a class="btn btn-success" href="https://www.autogari.ro/">Rute cu autocarul &raquo;</a>
                <a class="btn btn-warning" href="https://www.google.com/maps/dir//Megazone+Laser+Tag,+Strada+Doctor+Nicolae+Paulescu,+Timisoara">Masina personala &raquo;</a>
            </p>
        </div>

        <div class="col-md-5">
            <div style="padding: 7px">
                <a href="~/Content/Images/lasertag.jpg" data-lightbox="lasertag"><img src="~/Content/Images/lasertag.jpg" class="img-thumbnail" /></a>
            </div>

            <div style="padding: 7px">
                <a href="~/Content/Images/lasertag2.jpg" data-lightbox="lasertag2"><img src="~/Content/Images/lasertag2.jpg" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
</div>

